In [1]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger
import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

# Conexion con la base de datos tp32

In [2]:
NOMBRE_DB = "tp32"
USUARIO_DB = 'gaston'
PASSWORD_DB = 'gastonm1'
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)

engine = alchemy.create_engine(url_db, echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_DB)
    conn.close()
except Exception as e:
    print str(e)
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)
engine = alchemy.create_engine(url_db, echo=True)

2017-09-07 07:13:44,315 INFO sqlalchemy.engine.base.Engine select version()
2017-09-07 07:13:44,315 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,317 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-07 07:13:44,317 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,319 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-07 07:13:44,319 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,321 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-07 07:13:44,321 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,322 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-07 07:13:44,323 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,324 INFO sqlalchemy.engine.base.Engine commit
2017-09-07 07:13:44,325 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,325 INFO sqlalchemy.engine.base.Engine create database tp32
2017-09-07 07:13:44,326 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,327 INFO sqlalchemy.engine.base.Engine ROLLBACK
(psycopg2.ProgrammingError) permission denied to create database
 [SQL: 'create database tp32']

# Definicion de tablas
![Inmobilitaria](diagramas/Inmobiliaria.png)

In [3]:
Base = declarative_base()
class Customer(Base):
    __tablename__ = 'Customer'
    
    IDCust = Column(Integer, primary_key=True)
    Name = Column(String)
    Surname = Column(String)
    Address = Column(String)
    City = Column(String)
    Phone = Column(String)
    Budget = Column(Float)
    Office = Column(String)

class Estate(Base):
    __tablename__ = 'Estate'
    
    IDEstate = Column(Integer, primary_key=True)
    Category = Column(String)
    Area = Column(String)
    City = Column(String)
    Province = Column(String)
    Rooms = Column(Integer)
    Bedrooms = Column(Integer)
    Garage = Column(String)
    Meters = Column(Integer)

class Visit(Base):
    __tablename__ = 'Visit'
    
    IDVisit = Column(Integer, primary_key=True)
    Date = Column(Date)
    Duration = Column(Integer)

class Sale(Base):
    __tablename__ = 'Sale'
    
    IDSale = Column(Integer, primary_key=True)
    Date = Column(Date)
    AgreedPrice = Column(Float)
    Price = Column(Float)
    Status = Column(String)
    Time = Column(Integer)

class Agenda(Base):
    __tablename__ = 'Agenda'
    
    IDAgenda = Column(Integer, primary_key=True)
    Data = Column(String)
    Hour = Column(String)
    ClienteName = Column(String)

class Inmobiliaria(Base):
    __tablename__ = 'Inmobiliaria'
    
    ID = Column(Integer, primary_key=True)
    IDEstate = Column(Integer)
    IDCust = Column(Integer)
    IDVisit = Column(Integer)
    IDSale = Column(Integer)
    IDAgenda = Column(Integer)
    Date = Column(Date)

In [4]:
Base.metadata.create_all(engine)

2017-09-07 07:13:44,404 INFO sqlalchemy.engine.base.Engine select version()
2017-09-07 07:13:44,405 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,406 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-07 07:13:44,407 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,409 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-07 07:13:44,409 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,410 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-07 07:13:44,411 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,412 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-07 07:13:44,413 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,414 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,415 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-07 07:13:44,417 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,417 INFO sqlalchemy.engine.base.Engine {'name': u'Inmobiliaria'}
2017-09-07 07:13:44,419 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,419 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-07 07:13:44,421 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,421 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-07 07:13:44,423 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,423 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-07 07:13:44,425 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,425 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}

# Carga de datos
 ### Mocks -> [Mockaroo](https://www.mockaroo.com/)

In [5]:
datos_customer = 'data/inmobiliaria/customer.csv'
datos_agenda = 'data/inmobiliaria/agenda.csv'
datos_sale = 'data/inmobiliaria/sale.csv'
datos_visit = 'data/inmobiliaria/visit.csv'
datos_estate = 'data/inmobiliaria/estate.csv'
datos_hecho_inmobiliaria = 'data/inmobiliaria/hecho_inmobiliaria.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep=',')
df_agenda = pd.DataFrame.from_csv(datos_agenda,sep=',')
df_sale = pd.DataFrame.from_csv(datos_sale,sep=',')
df_visit = pd.DataFrame.from_csv(datos_visit,sep=',')
df_estate = pd.DataFrame.from_csv(datos_estate,sep=',')
df_hecho_inmobiliaria = pd.DataFrame.from_csv(datos_hecho_inmobiliaria,sep=',')

In [6]:
import random

def get_categoria(x):
    CATEGORIA = ["casa", "piso", "departamento", "chacra"]
    return CATEGORIA[random.randint(0, len(CATEGORIA) -1)]
   
df_estate = pd.DataFrame.from_csv(datos_estate,sep=',')
df_estate['Category'] = df_estate['Category'].apply(get_categoria)

def get_estate_city(x):
    CIUDADES=["Alto RÃ­o Senguer","Camarones","Comodoro Rivadavia","El Hoyo","Esquel","Gaiman","Lago Puelo","Playa Union",
    "Puerto Madryn","Puerto Piramides","Rada Tilly","Rawson","Rio Pico","Rio Mayo","Sarmiento","Trelew","Trevelin","Villa Ameghino"]
    return CIUDADES[random.randint(0, len(CIUDADES) -1)]
   
df_estate['City'] = df_estate['City'].apply(get_estate_city)


def get_sale_date(x):
    dia = random.randint(1, 31)
    mes = random.randint(1, 12)
    anio = random.randint(2010, 2017)
    fecha = '%s/%s/%s'%(anio,mes,dia) 
    return fecha

df_sale = pd.DataFrame.from_csv(datos_sale,sep=',')
df_sale['Date'] = df_sale['Date'].apply(get_sale_date)

In [7]:
df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_agenda.to_sql("Agenda", con=engine, if_exists='replace')
df_sale.to_sql("Sale", con=engine, if_exists='replace')
df_visit.to_sql("Visit", con=engine, if_exists='replace')
df_estate.to_sql("Estate", con=engine, if_exists='replace')
df_hecho_inmobiliaria.to_sql("HechoInmobiliaria", con=engine, if_exists='replace')

2017-09-07 07:13:44,508 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,509 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-07 07:13:44,510 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,511 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-07 07:13:44,512 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:44,513 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-07 07:13:44,515 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-07 07:13:44,517 INFO sqlalchemy.engine.base.Engine {'table_name': u'Customer'}
2017-09-07 07:13:44,519 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-07 07:13:44,522 INFO sqlalchemy.engine.base.Engine {'table_oid': 25048}
2017-09-07 07:13:44,525 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-07 07:13:44,525 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,527 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-07 07:13:44,527 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,531 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-07 07:13:44,532 INFO sqlalchemy.engine.base.Engine {'table_oid': 25048}
2017-09-07 07:13:44,534 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-07 07:13:44,535 INFO sqlalchemy.engine.base.Engine {'table_oid': 25048}
2017-09-07 07:13:44,538 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-07 07:13:44,539 INFO sqlalchemy.engine.base.Engine {'table': 25048}
2017-09-07 07:13:44,540 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-07 07:13:44,541 INFO sqlalchemy.engine.base.Engine {'table_oid': 25048}
2017-09-07 07:13:44,544 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-07 07:13:44,545 INFO sqlalchemy.engine.base.Engine {'table_oid': 25048}
2017-09-07 07:13:44,547 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-07 07:13:44,547 INFO sqlalchemy.engine.base.Engine {'table_oid': 25048}
2017-09-07 07:13:44,550 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-09-07 07:13:44,551 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,554 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,558 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	"IDCust" BIGINT,
	"Name" TEXT,
	"Surname" TEXT,
	"Adress" TEXT,
	"City" TEXT,
	"Phone" TEXT,
	"Budget" FLOAT(53),
	"Office" TEXT
)


2017-09-07 07:13:44,559 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,562 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,570 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Customer_IDCust" ON "Customer" ("IDCust")
2017-09-07 07:13:44,571 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,573 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,575 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-07 07:13:44,587 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" ("IDCust", "Name", "Surname", "Adress", "City", "Phone", "Budget", "Office") VALUES (%(IDCust)s, %(Name)s, %(Surname)s, %(Adress)s, %(City)s, %(Phone)s, %(Budget)s, %(Office)s)

2017-09-07 07:13:44,588 INFO sqlalchemy.engine.base.Engine ({'City': 'Babirik', 'Surname': 'Gozney', 'Name': 'Enos', 'Office': 'potenti', 'IDCust': 1, 'Budget': 51059.72, 'Phone': '62-(477)447-6111', 'Adress': '25791 Thierer Lane'}, {'City': 'Jiaowei', 'Surname': 'Gale', 'Name': 'Saundra', 'Office': 'cras', 'IDCust': 2, 'Budget': 72669.0, 'Phone': '86-(911)905-6149', 'Adress': '47 Dunning Crossing'}, {'City': 'Beregovoy', 'Surname': 'Labbett', 'Name': 'Grethel', 'Office': 'nunc', 'IDCust': 3, 'Budget': 12551.79, 'Phone': '7-(813)507-8524', 'Adress': '8844 Mitchell Drive'}, {'City': 'Young', 'Surname': 'Gayther', 'Name': 'Jedidiah', 'Office': 'vestibulum', 'IDCust': 4, 'Budget': 68349.68, 'Phone': '598-(762)860-2698', 'Adress': '5 Arrowood Center'}, {'City': 'Barroso', 'Surname': 'McKimmie', 'Name': 'Eleonora', 'Office': 'ut', 'IDCust': 5, 'Budget': 56635.63, 'Phone': '55-(410)522-9669', 'Adress': '0 Roxbury Junction'}, {'City': 'Barranqueras', 'Surname': 'Kybird', 'Name': 'Pearce', 'Office': 'aliquam', 'IDCust': 6, 'Budget': 77835.4, 'Phone': '54-(975)404-2824', 'Adress': '1955 Talmadge Plaza'}, {'City': 'Bazar-Korgon', 'Surname': 'Hylden', 'Name': 'Daisy', 'Office': 'vel', 'IDCust': 7, 'Budget': 68078.71, 'Phone': '996-(578)844-2440', 'Adress': '8318 Paget Parkway'}, {'City': 'Pedro Garc\xc3\xada', 'Surname': 'Brixey', 'Name': 'Charmian', 'Office': 'metus', 'IDCust': 8, 'Budget': 28787.29, 'Phone': '1-(570)523-8177', 'Adress': '697 Arapahoe Junction'}  ... displaying 10 of 1000 total bound parameter sets ...  {'City': 'Huangqiang', 'Surname': 'St. Leger', 'Name': 'Fred', 'Office': 'maecenas', 'IDCust': 999, 'Budget': 62639.82, 'Phone': '86-(175)966-3186', 'Adress': '75 Killdeer Pass'}, {'City': 'Phitsanulok', 'Surname': 'Abramsky', 'Name': 'Abbie', 'Office': 'suspendisse', 'IDCust': 1000, 'Budget': 89457.75, 'Phone': '66-(192)540-1362', 'Adress': '90 Northview Avenue'})
2017-09-07 07:13:44,665 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,674 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:44,674 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-07 07:13:44,680 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,680 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-09-07 07:13:44,682 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,683 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-09-07 07:13:44,685 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:44,685 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-07 07:13:44,687 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-07 07:13:44,687 INFO sqlalchemy.engine.base.Engine {'table_name': u'Agenda'}
2017-09-07 07:13:44,689 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-07 07:13:44,689 INFO sqlalchemy.engine.base.Engine {'table_oid': 25055}
2017-09-07 07:13:44,690 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-07 07:13:44,691 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,692 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-07 07:13:44,693 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,694 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-07 07:13:44,695 INFO sqlalchemy.engine.base.Engine {'table_oid': 25055}
2017-09-07 07:13:44,697 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-07 07:13:44,697 INFO sqlalchemy.engine.base.Engine {'table_oid': 25055}
2017-09-07 07:13:44,699 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-07 07:13:44,700 INFO sqlalchemy.engine.base.Engine {'table': 25055}
2017-09-07 07:13:44,701 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-07 07:13:44,702 INFO sqlalchemy.engine.base.Engine {'table_oid': 25055}

2017-09-07 07:13:44,705 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-07 07:13:44,705 INFO sqlalchemy.engine.base.Engine {'table_oid': 25055}
2017-09-07 07:13:44,707 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-07 07:13:44,708 INFO sqlalchemy.engine.base.Engine {'table_oid': 25055}
2017-09-07 07:13:44,709 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Agenda"
2017-09-07 07:13:44,710 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,711 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,719 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Agenda" (
	"IDAgenda" BIGINT,
	"Date" TEXT,
	"Hour" BIGINT,
	"Duration" FLOAT(53),
	"ClientName" TEXT
)


2017-09-07 07:13:44,719 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,722 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,723 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Agenda_IDAgenda" ON "Agenda" ("IDAgenda")
2017-09-07 07:13:44,724 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,726 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,733 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-07 07:13:44,741 INFO sqlalchemy.engine.base.Engine INSERT INTO "Agenda" ("IDAgenda", "Date", "Hour", "Duration", "ClientName") VALUES (%(IDAgenda)s, %(Date)s, %(Hour)s, %(Duration)s, %(ClientName)s)
2017-09-07 07:13:44,742 INFO sqlalchemy.engine.base.Engine ({'Date': '7/30/2017', 'Duration': 80.33, 'ClientName': 'Beverie', 'Hour': 74, 'IDAgenda': 1}, {'Date': '9/6/2016', 'Duration': 21.53, 'ClientName': 'Engelbert', 'Hour': 15, 'IDAgenda': 2}, {'Date': '12/17/2016', 'Duration': 39.66, 'ClientName': 'Leonhard', 'Hour': 44, 'IDAgenda': 3}, {'Date': '9/19/2016', 'Duration': 77.34, 'ClientName': 'Ermanno', 'Hour': 46, 'IDAgenda': 4}, {'Date': '11/16/2016', 'Duration': 79.48, 'ClientName': 'Heidie', 'Hour': 50, 'IDAgenda': 5}, {'Date': '12/1/2016', 'Duration': 66.92, 'ClientName': 'Alisha', 'Hour': 48, 'IDAgenda': 6}, {'Date': '1/24/2017', 'Duration': 46.23, 'ClientName': 'Tabbitha', 'Hour': 37, 'IDAgenda': 7}, {'Date': '5/26/2017', 'Duration': 18.03, 'ClientName': 'Emily', 'Hour': 83, 'IDAgenda': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Date': '8/26/2017', 'Duration': 38.91, 'ClientName': 'Norah', 'Hour': 16, 'IDAgenda': 999}, {'Date': '1/1/2017', 'Duration': 54.44, 'ClientName': 'Hettie', 'Hour': 98, 'IDAgenda': 1000})
2017-09-07 07:13:44,808 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,815 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:44,817 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-07 07:13:44,826 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,827 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-07 07:13:44,829 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,829 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-07 07:13:44,831 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:44,832 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-07 07:13:44,834 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-07 07:13:44,834 INFO sqlalchemy.engine.base.Engine {'table_name': u'Sale'}
2017-09-07 07:13:44,836 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-07 07:13:44,836 INFO sqlalchemy.engine.base.Engine {'table_oid': 25062}
2017-09-07 07:13:44,838 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-07 07:13:44,838 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,840 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-07 07:13:44,840 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,842 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-07 07:13:44,843 INFO sqlalchemy.engine.base.Engine {'table_oid': 25062}
2017-09-07 07:13:44,844 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-07 07:13:44,845 INFO sqlalchemy.engine.base.Engine {'table_oid': 25062}
2017-09-07 07:13:44,846 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-07 07:13:44,847 INFO sqlalchemy.engine.base.Engine {'table': 25062}
2017-09-07 07:13:44,849 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-07 07:13:44,850 INFO sqlalchemy.engine.base.Engine {'table_oid': 25062}
2017-09-07 07:13:44,852 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-07 07:13:44,853 INFO sqlalchemy.engine.base.Engine {'table_oid': 25062}
2017-09-07 07:13:44,854 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-07 07:13:44,855 INFO sqlalchemy.engine.base.Engine {'table_oid': 25062}
2017-09-07 07:13:44,856 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Sale"
2017-09-07 07:13:44,857 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,858 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,861 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Sale" (
	"IDSale" BIGINT,
	"Date" TEXT,
	"AgreedPrice" FLOAT(53),
	"Price" FLOAT(53),
	"Status" TEXT,
	"Time" TEXT
)


2017-09-07 07:13:44,862 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,865 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,872 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Sale_IDSale" ON "Sale" ("IDSale")
2017-09-07 07:13:44,872 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,886 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,888 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-07 07:13:44,898 INFO sqlalchemy.engine.base.Engine INSERT INTO "Sale" ("IDSale", "Date", "AgreedPrice", "Price", "Status", "Time") VALUES (%(IDSale)s, %(Date)s, %(AgreedPrice)s, %(Price)s, %(Status)s, %(Time)s)
2017-09-07 07:13:44,899 INFO sqlalchemy.engine.base.Engine ({'Status': 'erat', 'IDSale': 1, 'Price': 48.56, 'AgreedPrice': 99.11, 'Time': '4:55 AM', 'Date': '2013/7/23'}, {'Status': 'ultrices', 'IDSale': 2, 'Price': 62.21, 'AgreedPrice': 92.48, 'Time': '3:29 AM', 'Date': '2014/9/11'}, {'Status': 'integer', 'IDSale': 3, 'Price': 53.87, 'AgreedPrice': 69.94, 'Time': '6:37 AM', 'Date': '2016/2/17'}, {'Status': 'massa', 'IDSale': 4, 'Price': 72.49, 'AgreedPrice': 4.89, 'Time': '7:26 AM', 'Date': '2013/6/10'}, {'Status': 'quisque', 'IDSale': 5, 'Price': 70.53, 'AgreedPrice': 3.32, 'Time': '1:07 PM', 'Date': '2012/11/29'}, {'Status': 'odio', 'IDSale': 6, 'Price': 13.42, 'AgreedPrice': 64.84, 'Time': '1:46 PM', 'Date': '2012/3/3'}, {'Status': 'sed', 'IDSale': 7, 'Price': 2.47, 'AgreedPrice': 37.61, 'Time': '10:36 PM', 'Date': '2011/3/2'}, {'Status': 'primis', 'IDSale': 8, 'Price': 69.61, 'AgreedPrice': 61.46, 'Time': '11:37 PM', 'Date': '2015/10/27'}  ... displaying 10 of 1000 total bound parameter sets ...  {'Status': 'platea', 'IDSale': 999, 'Price': 19.56, 'AgreedPrice': 16.92, 'Time': '3:40 AM', 'Date': '2016/7/19'}, {'Status': 'sem', 'IDSale': 1000, 'Price': 84.4, 'AgreedPrice': 50.55, 'Time': '10:16 PM', 'Date': '2016/11/23'})
2017-09-07 07:13:44,961 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,963 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:44,964 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-07 07:13:44,967 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,967 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-07 07:13:44,969 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:44,969 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-07 07:13:44,970 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:44,971 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-07 07:13:44,972 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-07 07:13:44,973 INFO sqlalchemy.engine.base.Engine {'table_name': u'Visit'}
2017-09-07 07:13:44,974 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-07 07:13:44,975 INFO sqlalchemy.engine.base.Engine {'table_oid': 25069}
2017-09-07 07:13:44,976 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-07 07:13:44,977 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,978 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-07 07:13:44,978 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,980 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-07 07:13:44,980 INFO sqlalchemy.engine.base.Engine {'table_oid': 25069}
2017-09-07 07:13:44,981 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-07 07:13:44,982 INFO sqlalchemy.engine.base.Engine {'table_oid': 25069}
2017-09-07 07:13:44,983 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-07 07:13:44,983 INFO sqlalchemy.engine.base.Engine {'table': 25069}
2017-09-07 07:13:44,984 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-07 07:13:44,985 INFO sqlalchemy.engine.base.Engine {'table_oid': 25069}
2017-09-07 07:13:44,987 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-07 07:13:44,987 INFO sqlalchemy.engine.base.Engine {'table_oid': 25069}
2017-09-07 07:13:44,988 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-07 07:13:44,989 INFO sqlalchemy.engine.base.Engine {'table_oid': 25069}
2017-09-07 07:13:44,990 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Visit"
2017-09-07 07:13:44,990 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:44,991 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:44,993 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Visit" (
	"IDVisit" BIGINT,
	"Date" TEXT,
	"Duration" FLOAT(53)
)


2017-09-07 07:13:44,994 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,008 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:45,009 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Visit_IDVisit" ON "Visit" ("IDVisit")
2017-09-07 07:13:45,010 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,012 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:45,013 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-07 07:13:45,019 INFO sqlalchemy.engine.base.Engine INSERT INTO "Visit" ("IDVisit", "Date", "Duration") VALUES (%(IDVisit)s, %(Date)s, %(Duration)s)
2017-09-07 07:13:45,020 INFO sqlalchemy.engine.base.Engine ({'Duration': 85.6, 'Date': '1/21/2017', 'IDVisit': 1}, {'Duration': 94.5, 'Date': '8/28/2017', 'IDVisit': 2}, {'Duration': 31.4, 'Date': '4/23/2017', 'IDVisit': 3}, {'Duration': 14.9, 'Date': '1/15/2017', 'IDVisit': 4}, {'Duration': 94.1, 'Date': '2/4/2017', 'IDVisit': 5}, {'Duration': 14.7, 'Date': '10/24/2016', 'IDVisit': 6}, {'Duration': 39.3, 'Date': '10/18/2016', 'IDVisit': 7}, {'Duration': 55.7, 'Date': '8/8/2017', 'IDVisit': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Duration': 84.7, 'Date': '3/22/2017', 'IDVisit': 999}, {'Duration': 83.9, 'Date': '10/25/2016', 'IDVisit': 1000})
2017-09-07 07:13:45,080 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:45,087 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:45,087 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-07 07:13:45,094 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:45,095 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-07 07:13:45,096 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:45,096 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-07 07:13:45,098 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:45,098 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-07 07:13:45,099 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-07 07:13:45,100 INFO sqlalchemy.engine.base.Engine {'table_name': u'Estate'}
2017-09-07 07:13:45,101 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-07 07:13:45,101 INFO sqlalchemy.engine.base.Engine {'table_oid': 25076}
2017-09-07 07:13:45,102 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-07 07:13:45,103 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,104 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-07 07:13:45,104 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,107 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-07 07:13:45,107 INFO sqlalchemy.engine.base.Engine {'table_oid': 25076}

2017-09-07 07:13:45,108 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-07 07:13:45,109 INFO sqlalchemy.engine.base.Engine {'table_oid': 25076}
2017-09-07 07:13:45,110 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-07 07:13:45,110 INFO sqlalchemy.engine.base.Engine {'table': 25076}
2017-09-07 07:13:45,111 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-07 07:13:45,112 INFO sqlalchemy.engine.base.Engine {'table_oid': 25076}
2017-09-07 07:13:45,114 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-07 07:13:45,115 INFO sqlalchemy.engine.base.Engine {'table_oid': 25076}
2017-09-07 07:13:45,116 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-07 07:13:45,117 INFO sqlalchemy.engine.base.Engine {'table_oid': 25076}
2017-09-07 07:13:45,118 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Estate"
2017-09-07 07:13:45,118 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,119 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:45,127 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Estate" (
	"IDEstate" BIGINT,
	"Category" TEXT,
	"Area" TEXT,
	"City" TEXT,
	"Province" TEXT,
	"Rooms" BIGINT,
	"Bedrooms" BIGINT,
	"Garage" BOOLEAN,
	"Meters" FLOAT(53)
)


2017-09-07 07:13:45,128 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,136 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:45,137 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Estate_IDEstate" ON "Estate" ("IDEstate")
2017-09-07 07:13:45,137 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,139 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:45,146 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-07 07:13:45,159 INFO sqlalchemy.engine.base.Engine INSERT INTO "Estate" ("IDEstate", "Category", "Area", "City", "Province", "Rooms", "Bedrooms", "Garage", "Meters") VALUES (%(IDEstate)s, %(Category)s, %(Area)s, %(City)s, %(Province)s, %(Rooms)s, %(Bedrooms)s, %(Garage)s, %(Meters)s)
2017-09-07 07:13:45,160 INFO sqlalchemy.engine.base.Engine ({'Province': 'Kentucky', 'City': 'Trevelin', 'Area': 'tempor', 'Bedrooms': 2, 'Category': 'chacra', 'Garage': False, 'Meters': 25.4, 'Rooms': 43, 'IDEstate': 1}, {'Province': 'New York', 'City': 'Playa Union', 'Area': 'lobortis', 'Bedrooms': 96, 'Category': 'departamento', 'Garage': True, 'Meters': 96.9, 'Rooms': 90, 'IDEstate': 2}, {'Province': 'Texas', 'City': 'Esquel', 'Area': 'consequat', 'Bedrooms': 14, 'Category': 'departamento', 'Garage': False, 'Meters': 20.3, 'Rooms': 41, 'IDEstate': 3}, {'Province': 'California', 'City': 'Rio Mayo', 'Area': 'risus', 'Bedrooms': 2, 'Category': 'casa', 'Garage': False, 'Meters': 73.7, 'Rooms': 96, 'IDEstate': 4}, {'Province': 'New York', 'City': 'Villa Ameghino', 'Area': 'quam', 'Bedrooms': 67, 'Category': 'casa', 'Garage': True, 'Meters': 35.1, 'Rooms': 65, 'IDEstate': 5}, {'Province': 'Alabama', 'City': 'Trelew', 'Area': 'vel', 'Bedrooms': 12, 'Category': 'casa', 'Garage': False, 'Meters': 97.9, 'Rooms': 51, 'IDEstate': 6}, {'Province': 'Massachusetts', 'City': 'Trevelin', 'Area': 'lectus', 'Bedrooms': 87, 'Category': 'chacra', 'Garage': False, 'Meters': 54.1, 'Rooms': 82, 'IDEstate': 7}, {'Province': 'Illinois', 'City': 'El Hoyo', 'Area': 'ut', 'Bedrooms': 87, 'Category': 'chacra', 'Garage': True, 'Meters': 90.6, 'Rooms': 76, 'IDEstate': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Province': 'Missouri', 'City': 'Villa Ameghino', 'Area': 'nec', 'Bedrooms': 61, 'Category': 'departamento', 'Garage': True, 'Meters': 11.7, 'Rooms': 45, 'IDEstate': 999}, {'Province': 'Florida', 'City': 'Comodoro Rivadavia', 'Area': 'ut', 'Bedrooms': 86, 'Category': 'casa', 'Garage': False, 'Meters': 13.4, 'Rooms': 42, 'IDEstate': 1000})
2017-09-07 07:13:45,236 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:45,244 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:45,245 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-07 07:13:45,254 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:45,256 INFO sqlalchemy.engine.base.Engine {'name': u'HechoInmobiliaria'}
2017-09-07 07:13:45,259 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 07:13:45,260 INFO sqlalchemy.engine.base.Engine {'name': u'HechoInmobiliaria'}
2017-09-07 07:13:45,264 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:45,265 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-07 07:13:45,268 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-07 07:13:45,269 INFO sqlalchemy.engine.base.Engine {'table_name': u'HechoInmobiliaria'}
2017-09-07 07:13:45,272 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-07 07:13:45,272 INFO sqlalchemy.engine.base.Engine {'table_oid': 25083}
2017-09-07 07:13:45,274 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-07 07:13:45,275 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,277 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-07 07:13:45,278 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,280 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-07 07:13:45,281 INFO sqlalchemy.engine.base.Engine {'table_oid': 25083}
2017-09-07 07:13:45,282 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-07 07:13:45,283 INFO sqlalchemy.engine.base.Engine {'table_oid': 25083}
2017-09-07 07:13:45,284 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-07 07:13:45,285 INFO sqlalchemy.engine.base.Engine {'table': 25083}
2017-09-07 07:13:45,287 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-07 07:13:45,287 INFO sqlalchemy.engine.base.Engine {'table_oid': 25083}
2017-09-07 07:13:45,290 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-07 07:13:45,291 INFO sqlalchemy.engine.base.Engine {'table_oid': 25083}
2017-09-07 07:13:45,292 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-07 07:13:45,292 INFO sqlalchemy.engine.base.Engine {'table_oid': 25083}
2017-09-07 07:13:45,293 INFO sqlalchemy.engine.base.Engine
DROP TABLE "HechoInmobiliaria"
2017-09-07 07:13:45,294 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,296 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:45,298 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "HechoInmobiliaria" (
	"IDHecho" BIGINT,
	"IDEstate" BIGINT,
	"IDCust" BIGINT,
	"IDVisit" BIGINT,
	"IDSale" BIGINT,
	"IDAgenda" BIGINT,
	"Date" TEXT
)


2017-09-07 07:13:45,299 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,307 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:45,314 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_HechoInmobiliaria_IDHecho" ON "HechoInmobiliaria" ("IDHecho")
2017-09-07 07:13:45,315 INFO sqlalchemy.engine.base.Engine {}
2017-09-07 07:13:45,323 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:45,325 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-07 07:13:45,335 INFO sqlalchemy.engine.base.Engine INSERT INTO "HechoInmobiliaria" ("IDHecho", "IDEstate", "IDCust", "IDVisit", "IDSale", "IDAgenda", "Date") VALUES (%(IDHecho)s, %(IDEstate)s, %(IDCust)s, %(IDVisit)s, %(IDSale)s, %(IDAgenda)s, %(Date)s)
2017-09-07 07:13:45,336 INFO sqlalchemy.engine.base.Engine ({'IDSale': 104, 'IDHecho': 1, 'IDCust': 96, 'IDVisit': 800, 'IDAgenda': 958, 'Date': '5/27/2012', 'IDEstate': 137}, {'IDSale': 30, 'IDHecho': 2, 'IDCust': 185, 'IDVisit': 598, 'IDAgenda': 311, 'Date': '2/12/2007', 'IDEstate': 233}, {'IDSale': 323, 'IDHecho': 3, 'IDCust': 229, 'IDVisit': 60, 'IDAgenda': 980, 'Date': '7/25/2013', 'IDEstate': 329}, {'IDSale': 509, 'IDHecho': 4, 'IDCust': 996, 'IDVisit': 95, 'IDAgenda': 800, 'Date': '9/7/2015', 'IDEstate': 672}, {'IDSale': 111, 'IDHecho': 5, 'IDCust': 811, 'IDVisit': 801, 'IDAgenda': 786, 'Date': '12/5/2008', 'IDEstate': 134}, {'IDSale': 868, 'IDHecho': 6, 'IDCust': 783, 'IDVisit': 303, 'IDAgenda': 872, 'Date': '1/7/2014', 'IDEstate': 865}, {'IDSale': 105, 'IDHecho': 7, 'IDCust': 568, 'IDVisit': 909, 'IDAgenda': 784, 'Date': '7/18/2014', 'IDEstate': 214}, {'IDSale': 905, 'IDHecho': 8, 'IDCust': 724, 'IDVisit': 93, 'IDAgenda': 709, 'Date': '5/1/2016', 'IDEstate': 658}  ... displaying 10 of 1000 total bound parameter sets ...  {'IDSale': 344, 'IDHecho': 999, 'IDCust': 117, 'IDVisit': 18, 'IDAgenda': 480, 'Date': '8/8/2009', 'IDEstate': 362}, {'IDSale': 979, 'IDHecho': 1000, 'IDCust': 671, 'IDVisit': 410, 'IDAgenda': 543, 'Date': '1/10/2010', 'IDEstate': 170})
2017-09-07 07:13:45,421 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-07 07:13:45,423 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-07 07:13:45,424 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}

# Consultas

### 1- Â¿Que tipo de propiedad se vendio por el precio mas alto con respecto a cada ciudad y meses?

In [138]:
def get_propiedad_precio_ciudad_mes():
   
# trelew enero tipo

    sql = """
    select City, mes, Category, precio from (
        select City, mes, Category, precio, rank() over propiedades_rank
            from( 
                    select e."City" as City, 
                    EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes,
                    EXTRACT(YEAR FROM to_date(s."Date",'YYYY/MM/DD')) as anio,
                    e."Category" as Category, 
                    MAX(s."AgreedPrice") as precio
                    from "HechoInmobiliaria" as hi 
                    inner join "Sale" as s on hi."IDSale" = s."IDSale" 
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate" 
                    group by mes, anio, e."Category",  e."City"
                    order by e."City", mes asc, precio desc
                ) as propiedades_tipo
                WINDOW propiedades_rank AS (partition by City, mes order by precio desc)
        ) as compradores_rankeados
    WHERE rank = 1 order by City, mes asc; 
    """
    
    
    resultado  = pd.read_sql(sql, engine)
    return resultado

get_propiedad_precio_ciudad_mes()

2017-09-07 11:18:39,982 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 11:18:39,982 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select City, mes, Category, precio from (\n        select City, mes, Category, precio, rank() over propiedades_rank\n            from( \n      ... (702 characters truncated) ... piedades_rank AS (partition by City, mes order by precio desc)\n        ) as compradores_rankeados\n    WHERE rank = 1 order by City, mes asc; \n    '}
2017-09-07 11:18:39,984 INFO sqlalchemy.engine.base.Engine
    select City, mes, Category, precio from (
        select City, mes, Category, precio, rank() over propiedades_rank
            from(
                    select e."City" as City,
                    EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes,
                    EXTRACT(YEAR FROM to_date(s."Date",'YYYY/MM/DD')) as anio,
                    e."Category" as Category,
                    MAX(s."AgreedPrice") as precio
                    from "HechoInmobiliaria" as hi
                    inner join "Sale" as s on hi."IDSale" = s."IDSale"
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate"
                    group by mes, anio, e."Category",  e."City"
                    order by e."City", mes asc, precio desc
                ) as propiedades_tipo
                WINDOW propiedades_rank AS (partition by City, mes order by precio desc)
        ) as compradores_rankeados
    WHERE rank = 1 order by City, mes asc;

2017-09-07 11:18:39,984 INFO sqlalchemy.engine.base.Engine {}

                   city   mes      category  precio
0      Alto RÃ­o Senguer   1.0          piso   79.02
1      Alto RÃ­o Senguer   2.0        chacra   58.93
2      Alto RÃ­o Senguer   3.0  departamento   97.35
3      Alto RÃ­o Senguer   4.0  departamento   76.49
4      Alto RÃ­o Senguer   5.0          piso   90.54
5      Alto RÃ­o Senguer   6.0          piso   97.20
6      Alto RÃ­o Senguer   7.0        chacra   77.13
7      Alto RÃ­o Senguer   8.0          piso   92.76
8      Alto RÃ­o Senguer   9.0          piso   81.89
9      Alto RÃ­o Senguer  10.0          piso   64.64
10     Alto RÃ­o Senguer  11.0  departamento   69.32
11     Alto RÃ­o Senguer  12.0        chacra   54.77
12     Alto RÃ­o Senguer  12.0          casa   54.77
13            Camarones   1.0  departamento   73.37
14            Camarones   1.0        chacra   73.37
15            Camarones   2.0          piso   32.48
16            Camarones   3.0        chacra   90.04
17            Camarones   4.0          piso   41.06
18            Camarones   5.0  departamento   90.43
19            Camarones   6.0          casa   76.37
20            Camarones   7.0        chacra   74.48
21            Camarones   8.0  departamento   98.90
22            Camarones   9.0          casa   87.68
23            Camarones  10.0        chacra   78.53
24            Camarones  10.0          piso   78.53
25            Camarones  11.0          casa   87.17
26            Camarones  12.0  departamento   93.98
27   Comodoro Rivadavia   1.0  departamento   44.07
28   Comodoro Rivadavia   2.0          piso   59.42
29   Comodoro Rivadavia   3.0  departamento   90.46
..                  ...   ...           ...     ...
188              Trelew   9.0  departamento   36.07
189              Trelew  10.0        chacra   99.82
190              Trelew  11.0        chacra   85.59
191              Trelew  11.0          casa   85.59
192              Trelew  12.0        chacra   93.24
193            Trevelin   1.0          casa   72.53
194            Trevelin   1.0          piso   72.53
195            Trevelin   2.0        chacra   73.23
196            Trevelin   3.0        chacra   98.96
197            Trevelin   4.0          casa   78.95
198            Trevelin   5.0          piso   96.78
199            Trevelin   6.0          casa   66.91
200            Trevelin   7.0          casa   76.61
201            Trevelin   8.0  departamento    8.12
202            Trevelin   9.0        chacra   93.73
203            Trevelin  10.0  departamento   67.24
204            Trevelin  11.0          casa   94.70
205            Trevelin  12.0          piso   99.61
206      Villa Ameghino   1.0  departamento   96.98
207      Villa Ameghino   2.0  departamento   97.72
208      Villa Ameghino   3.0          casa   98.28
209      Villa Ameghino   4.0        chacra   27.06
210      Villa Ameghino   5.0          casa   98.84
211      Villa Ameghino   6.0  departamento   82.61
212      Villa Ameghino   7.0  departamento   81.59
213      Villa Ameghino   8.0        chacra   65.45
214      Villa Ameghino   9.0          piso   81.89
215      Villa Ameghino  10.0        chacra   63.73
216      Villa Ameghino  11.0          piso   64.92
217      Villa Ameghino  12.0        chacra   98.34

[218 rows x 4 columns]

### 2- Â¿Quien ha comprado un piso con el precio mas alto con respecto a cada mes?

In [98]:
def get_propiedad_precio_alto_mes():
 
    # selecciono quienes compraron un piso con el precio mas alto
    sql1 = """
    select EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes, 
                    c."Name" as Name, c."Surname" as Surname, e."Category" as Category, s."AgreedPrice" as AgreedPrice  
                    from "HechoInmobiliaria" as hi
                    inner join "Sale" as s on hi."IDSale" = s."IDSale" 
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate" 
                    inner join "Customer" as c on hi."IDCust" = c."IDCust" 
                    where e."Category" = 'piso'
                    order by s."AgreedPrice" DESC
    """
    
    # calculo con la funcion agregada rank sobre compradores_mes, que mas abajo con la clausula 
    # WINDOW  la defino sobre que se va a ejecutar, en este caso rankeo los compradores por mes
    #(los que tiene el mismo mes los pongo en un ranking por precio de mayor a menor)
    sql2 = """
    
    select mes, Name, Surname, AgreedPrice, rank() over compradores_mes
            from( 
                    select EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes, 
                    c."Name" as Name, c."Surname" as Surname, e."Category" as Category, s."AgreedPrice" as AgreedPrice  
                    from "HechoInmobiliaria" as hi
                    inner join "Sale" as s on hi."IDSale" = s."IDSale" 
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate" 
                    inner join "Customer" as c on hi."IDCust" = c."IDCust" 
                    where e."Category" = 'piso'
                    order by s."AgreedPrice" DESC
                ) as compradores WINDOW compradores_mes AS (partition by mes order by AgreedPrice DESC)
    """
    
    
    # Y finalmente solo me quedo con el numero 1 del ranking de cada mes
    sql3 = """
    select mes, concat(Name,' ', Surname) as nombre, AgreedPrice as Precio from (
        select mes, Name, Surname, AgreedPrice, rank() over particion_por_mes
            from( 
                    select EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes, 
                    c."Name" as Name, c."Surname" as Surname, e."Category" as Category, s."AgreedPrice" as AgreedPrice  
                    from "HechoInmobiliaria" as hi
                    inner join "Sale" as s on hi."IDSale" = s."IDSale" 
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate" 
                    inner join "Customer" as c on hi."IDCust" = c."IDCust" 
                    where e."Category" = 'piso'
                    order by s."AgreedPrice" DESC
                ) as compradores
                WINDOW particion_por_mes AS (partition by mes order by AgreedPrice DESC)
        ) as compradores_rankeados
    WHERE rank = 1; 
    """
    
    resultado  = pd.read_sql(sql3, engine)
    return resultado

get_propiedad_precio_alto_mes()

2017-09-07 10:15:19,240 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 10:15:19,241 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select mes, concat(Name,\' \', Surname) as nombre, AgreedPrice as Precio from (\n        select mes, Name, Surname, AgreedPrice, rank() over p ... (670 characters truncated) ...              WINDOW particion_por_mes AS (partition by mes order by AgreedPrice DESC)\n        ) as compradores_rankeados\n    WHERE rank = 1; \n    '}
2017-09-07 10:15:19,243 INFO sqlalchemy.engine.base.Engine
    select mes, concat(Name,' ', Surname) as nombre, AgreedPrice as Precio from (
        select mes, Name, Surname, AgreedPrice, rank() over particion_por_mes
            from(
                    select EXTRACT(MONTH FROM to_date(s."Date",'YYYY/MM/DD')) as mes,
                    c."Name" as Name, c."Surname" as Surname, e."Category" as Category, s."AgreedPrice" as AgreedPrice
                    from "HechoInmobiliaria" as hi
                    inner join "Sale" as s on hi."IDSale" = s."IDSale"
                    inner join "Estate" as e on hi."IDEstate" = e."IDEstate"
                    inner join "Customer" as c on hi."IDCust" = c."IDCust"
                    where e."Category" = 'piso'
                    order by s."AgreedPrice" DESC
                ) as compradores
                WINDOW particion_por_mes AS (partition by mes order by AgreedPrice DESC)
        ) as compradores_rankeados
    WHERE rank = 1;

2017-09-07 10:15:19,243 INFO sqlalchemy.engine.base.Engine {}

     mes             nombre  precio
0    1.0   Stillmann Cullon   82.57
1    2.0        Ray Hinkley   99.99
2    3.0     Elinore Boecke   98.28
3    4.0          Orrin Tax   85.64
4    5.0        Vita Kegley   98.84
5    5.0     Giacomo Burdas   98.84
6    6.0       Marc Norheny   97.20
7    6.0  Francisca Rodgier   97.20
8    7.0   Sheffie Foxcroft   92.36
9    8.0     Teodoro Fenlon   97.11
10   9.0        Enos Gozney   99.40
11  10.0        Nickey Gulk   80.43
12  11.0     Skelly Hobbema   99.31
13  12.0        Angy Blamey   99.61

### 3- Â¿Cual es la duracion media de visitas en las propiedades de cada categorÄ±a?

In [79]:
def get_tiempo_prom_visitas_x_cat():
   
    string_sql = """
    select e."Category", sum(v."Duration")as tiempo_total, 
    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1) as cant_visitas,
    (sum(v."Duration")/(select count(*) from "Estate" as ee where ee."Category" = e."Category" limit 1)) as Promedio 
    from "HechoInmobiliaria" as hi 
    join "Visit" as v on hi."IDVisit" = v."IDVisit" 
    join "Estate" as e on hi."IDEstate" = e."IDEstate" 
    group by e."Category" order by e."Category" asc;
    """
    
    resultado  = pd.read_sql(string_sql, engine)
    return resultado

get_tiempo_prom_visitas_x_cat()

2017-09-07 09:02:27,911 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-07 09:02:27,911 INFO sqlalchemy.engine.base.Engine {'name': u'\n    select e."Category", sum(v."Duration")as tiempo_total, \n    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1 ... (196 characters truncated) ... v on hi."IDVisit" = v."IDVisit" \n    join "Estate" as e on hi."IDEstate" = e."IDEstate" \n    group by e."Category" order by e."Category" asc;\n    '}
2017-09-07 09:02:27,913 INFO sqlalchemy.engine.base.Engine
    select e."Category", sum(v."Duration")as tiempo_total,
    (select count(*) from "Estate" as eee where eee."Category" = e."Category" limit 1) as cant_visitas,
    (sum(v."Duration")/(select count(*) from "Estate" as ee where ee."Category" = e."Category" limit 1)) as Promedio
    from "HechoInmobiliaria" as hi
    join "Visit" as v on hi."IDVisit" = v."IDVisit"
    join "Estate" as e on hi."IDEstate" = e."IDEstate"
    group by e."Category" order by e."Category" asc;

2017-09-07 09:02:27,913 INFO sqlalchemy.engine.base.Engine {}

       Category  tiempo_total  cant_visitas   promedio
0          casa       15202.7           248  61.301210
1        chacra       12704.6           264  48.123485
2  departamento       12088.4           247  48.940891
3          piso       13169.3           241  54.644398