In [1]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger

import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

In [2]:
# Conexion con postgres, creamos y nos conectamos a la bd pal tp3.
NOMBRE_DB = "tp3"
USUARIO_DB = 'postgres' #gaston
PASSWORD_DB = 'postgres' #gastonm1
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB,'')

engine = alchemy.create_engine(url_db, echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_DB)
    conn.close()
except Exception as e:
    print str(e)
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)
engine = alchemy.create_engine(url_db, echo=True)
Base = declarative_base()

2017-09-03 12:24:34,831 INFO sqlalchemy.engine.base.Engine select version()
2017-09-03 12:24:34,833 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:34,874 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-03 12:24:34,879 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:34,896 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-03 12:24:34,904 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:34,940 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-03 12:24:34,941 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:34,943 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-03 12:24:34,948 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:34,950 INFO sqlalchemy.engine.base.Engine commit
2017-09-03 12:24:34,951 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:34,952 INFO sqlalchemy.engine.base.Engine create database tp3
2017-09-03 12:24:34,953 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:34,965 INFO sqlalchemy.engine.base.Engine ROLLBACK
(psycopg2.ProgrammingError) database "tp3" already exists
 [SQL: 'create database tp3']

In [3]:
class Customer(Base):
    __tablename__ = 'Customer'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    address = Column(String)
    phone = Column(String)
    bday = Column(Date)
    gender = Column(String)
    
    #Para formateo de objeto
    def __repr___(self):
        return "<Customer(name='%s', address='%s', phone='%s', gender=%s')>"%(self.name, self.address, self.phone, self.gender)

In [4]:
class Timestamp(Base):
    __tablename__ = 'Timestamp'
    
    code = Column(Integer, primary_key=True)
    timestamp = Column(BigInteger)
    date = Column(Date)
    year = Column(Integer)

In [5]:
class ClaseVino(Base):
    __tablename__ = 'ClaseVino'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    region = Column(String)

In [6]:
class Wine(Base):
    __tablename__ = 'Wine'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    tipo = Column(String)
    vintage = Column(Integer)
    bottlePrice = Column(Float)
    casePrice = Column(Float)
    claseVino = Column(Integer)

In [7]:
class Order(Base):
    __tablename__ = 'Order'
    
    code = Column(Integer, primary_key=True)
    customer = Column(Integer)
    wine = Column(Integer)
    timeStamp = Column(Integer)
    nrBottles = Column(Integer)
    nrCases = Column(Integer)

In [8]:
Base.metadata.create_all(engine)

2017-09-03 12:24:39,952 INFO sqlalchemy.engine.base.Engine select version()
2017-09-03 12:24:39,957 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:40,017 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-03 12:24:40,024 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:40,054 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-03 12:24:40,055 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:40,152 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-03 12:24:40,156 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:40,160 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-03 12:24:40,161 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 12:24:40,164 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 12:24:40,169 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-03 12:24:40,210 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 12:24:40,212 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-09-03 12:24:40,214 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 12:24:40,216 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-09-03 12:24:40,218 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 12:24:40,219 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-09-03 12:24:40,222 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 12:24:40,223 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}

In [9]:
# Probamos un ejemplo Customer
#cliente = Customer(name='Nicolas3', address='Julio A Roca', phone='41-(625)137-9314', bday='1968-05-20 16:31:20', gender='m')
#from sqlalchemy.orm import sessionmaker
#Session = sessionmaker(bind=engine)
#session = Session()
#session.add(cliente)
#session.commit()
#for instance in session.query(Customer).order_by(Customer.code):
 #   print(instance.name, instance.address)

In [103]:
datos_customer = 'data/MOCK_DATA-customer.csv'
#datos_customer = 'data/customer_prueba.csv'

datos_class = 'data/MOCK_DATA-class.csv'
datos_order = 'data/MOCK_DATA-order.csv'
#datos_order = 'data/order_prueba.csv'
datos_time = 'data/MOCK_DATA-time.csv'
datos_wine = 'data/MOCK_DATA-wine.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep=',')
df_class = pd.DataFrame.from_csv(datos_class,sep=',')
df_order = pd.DataFrame.from_csv(datos_order,sep=',')
df_time = pd.DataFrame.from_csv(datos_time,sep=',')
df_wine = pd.DataFrame.from_csv(datos_wine,sep=',')

In [104]:
# transforma los datos en sql, y los inserta.
df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_class.to_sql("ClaseVino", con=engine, if_exists='replace')
df_order.to_sql("Order", con=engine, if_exists='replace')
df_time.to_sql("Timestamp", con=engine, if_exists='replace')
df_wine.to_sql("Wine", con=engine, if_exists='replace')

2017-09-03 15:02:24,349 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:24,350 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-03 15:02:24,360 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:24,361 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-03 15:02:24,370 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-03 15:02:24,371 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-03 15:02:24,382 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-03 15:02:24,390 INFO sqlalchemy.engine.base.Engine {'table_name': u'Customer'}
2017-09-03 15:02:24,392 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-03 15:02:24,394 INFO sqlalchemy.engine.base.Engine {'table_oid': 41011}
2017-09-03 15:02:24,397 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-03 15:02:24,398 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:24,401 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-03 15:02:24,403 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:24,407 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-03 15:02:24,410 INFO sqlalchemy.engine.base.Engine {'table_oid': 41011}
2017-09-03 15:02:24,413 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-03 15:02:24,415 INFO sqlalchemy.engine.base.Engine {'table_oid': 41011}
2017-09-03 15:02:24,431 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-03 15:02:24,432 INFO sqlalchemy.engine.base.Engine {'table': 41011}
2017-09-03 15:02:24,435 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-03 15:02:24,436 INFO sqlalchemy.engine.base.Engine {'table_oid': 41011}
2017-09-03 15:02:24,440 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-03 15:02:24,442 INFO sqlalchemy.engine.base.Engine {'table_oid': 41011}
2017-09-03 15:02:24,444 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-03 15:02:24,447 INFO sqlalchemy.engine.base.Engine {'table_oid': 41011}
2017-09-03 15:02:24,453 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-09-03 15:02:24,459 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:24,462 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:24,488 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	name TEXT,
	address TEXT,
	phone TEXT,
	bday TEXT,
	gender TEXT
)


2017-09-03 15:02:24,489 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:24,523 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:24,540 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Customer_name" ON "Customer" (name)
2017-09-03 15:02:24,541 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:24,579 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:24,597 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-03 15:02:24,619 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" (name, address, phone, bday, gender) VALUES (%(name)s, %(address)s, %(phone)s, %(bday)s, %(gender)s)
2017-09-03 15:02:24,620 INFO sqlalchemy.engine.base.Engine ({'bday': '1968-05-20 16:31:20', 'gender': 'Female', 'name': 'Bonny', 'phone': '41-(625)137-9314', 'address': '07324 Montana Way'}, {'bday': '1964-03-23 14:32:24', 'gender': 'Female', 'name': 'Brianna', 'phone': '359-(623)793-6068', 'address': '839 Onsgard Court'}, {'bday': '1979-08-19 06:18:46', 'gender': 'Female', 'name': 'Shawna', 'phone': '970-(249)951-8657', 'address': '520 Moose Avenue'}, {'bday': '1971-10-28 05:29:53', 'gender': 'Male', 'name': 'Allin', 'phone': '996-(945)197-3282', 'address': '6 Harbort Street'}, {'bday': '1989-08-01 07:53:37', 'gender': 'Female', 'name': 'Ethelind', 'phone': '63-(878)360-5280', 'address': '22 Dixon Point'}, {'bday': '1986-04-20 11:34:09', 'gender': 'Female', 'name': 'Rhianna', 'phone': '86-(858)285-9284', 'address': '0 Ramsey Hill'}, {'bday': '1979-01-07 19:31:10', 'gender': 'Male', 'name': 'Julius', 'phone': '86-(750)227-5599', 'address': '0271 Dahle Alley'}, {'bday': '1989-02-10 04:05:22', 'gender': 'Male', 'name': 'Thorin', 'phone': '351-(237)922-4231', 'address': '16748 Hansons Drive'}  ... displaying 10 of 1000 total bound parameter sets ...  {'bday': '1969-05-07 15:23:28', 'gender': 'Male', 'name': 'Albrecht', 'phone': '86-(863)911-6146', 'address': '3091 Carioca Road'}, {'bday': '2007-10-12 14:12:38', 'gender': 'Male', 'name': 'Justis', 'phone': '7-(737)829-9661', 'address': '175 Laurel Place'})

2017-09-03 15:02:24,836 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:24,855 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-03 15:02:24,856 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-03 15:02:24,888 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:24,895 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-09-03 15:02:24,901 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:24,902 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-09-03 15:02:24,911 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-03 15:02:24,915 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-03 15:02:24,921 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-03 15:02:24,926 INFO sqlalchemy.engine.base.Engine {'table_name': u'ClaseVino'}
2017-09-03 15:02:24,929 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-03 15:02:24,930 INFO sqlalchemy.engine.base.Engine {'table_oid': 41018}
2017-09-03 15:02:24,932 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-03 15:02:24,933 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:24,936 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-03 15:02:24,938 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:24,941 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-03 15:02:24,944 INFO sqlalchemy.engine.base.Engine {'table_oid': 41018}
2017-09-03 15:02:24,946 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-03 15:02:24,947 INFO sqlalchemy.engine.base.Engine {'table_oid': 41018}
2017-09-03 15:02:24,950 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-03 15:02:24,953 INFO sqlalchemy.engine.base.Engine {'table': 41018}
2017-09-03 15:02:24,958 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-03 15:02:24,961 INFO sqlalchemy.engine.base.Engine {'table_oid': 41018}
2017-09-03 15:02:24,965 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-03 15:02:24,967 INFO sqlalchemy.engine.base.Engine {'table_oid': 41018}
2017-09-03 15:02:24,972 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-03 15:02:24,974 INFO sqlalchemy.engine.base.Engine {'table_oid': 41018}
2017-09-03 15:02:24,978 INFO sqlalchemy.engine.base.Engine
DROP TABLE "ClaseVino"
2017-09-03 15:02:24,979 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:24,986 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:25,002 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "ClaseVino" (
	code BIGINT,
	name TEXT,
	region TEXT
)


2017-09-03 15:02:25,005 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:25,092 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:25,121 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_ClaseVino_code" ON "ClaseVino" (code)
2017-09-03 15:02:25,123 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:25,159 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:25,178 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-03 15:02:25,191 INFO sqlalchemy.engine.base.Engine INSERT INTO "ClaseVino" (code, name, region) VALUES (%(code)s, %(name)s, %(region)s)

2017-09-03 15:02:25,195 INFO sqlalchemy.engine.base.Engine ({'region': 'Guyana', 'code': 1, 'name': 'Duck, comb'}, {'region': 'Norway', 'code': 2, 'name': 'Canadian river otter'}, {'region': 'China', 'code': 3, 'name': 'Squirrel, palm'}, {'region': 'Russia', 'code': 4, 'name': 'Bee-eater (unidentified)'}, {'region': 'Greece', 'code': 5, 'name': 'European badger'}, {'region': 'Poland', 'code': 6, 'name': 'Colobus, white-mantled'}, {'region': 'United States', 'code': 7, 'name': 'Egyptian viper'}, {'region': 'Bolivia', 'code': 8, 'name': 'Arctic lemming'}  ... displaying 10 of 1000 total bound parameter sets ...  {'region': 'Vietnam', 'code': 999, 'name': 'Goldeneye, barrows'}, {'region': 'Indonesia', 'code': 1000, 'name': 'Great white pelican'})
2017-09-03 15:02:25,418 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:25,435 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-03 15:02:25,437 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-03 15:02:25,451 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:25,455 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-09-03 15:02:25,459 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:25,463 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-09-03 15:02:25,467 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-03 15:02:25,472 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-03 15:02:25,476 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-03 15:02:25,477 INFO sqlalchemy.engine.base.Engine {'table_name': u'Order'}
2017-09-03 15:02:25,485 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-03 15:02:25,486 INFO sqlalchemy.engine.base.Engine {'table_oid': 41025}
2017-09-03 15:02:25,489 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-03 15:02:25,490 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:25,493 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-03 15:02:25,495 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:25,498 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-03 15:02:25,499 INFO sqlalchemy.engine.base.Engine {'table_oid': 41025}
2017-09-03 15:02:25,506 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-03 15:02:25,509 INFO sqlalchemy.engine.base.Engine {'table_oid': 41025}
2017-09-03 15:02:25,515 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-03 15:02:25,516 INFO sqlalchemy.engine.base.Engine {'table': 41025}
2017-09-03 15:02:25,519 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-03 15:02:25,520 INFO sqlalchemy.engine.base.Engine {'table_oid': 41025}
2017-09-03 15:02:25,525 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-03 15:02:25,527 INFO sqlalchemy.engine.base.Engine {'table_oid': 41025}
2017-09-03 15:02:25,530 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-03 15:02:25,531 INFO sqlalchemy.engine.base.Engine {'table_oid': 41025}
2017-09-03 15:02:25,533 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Order"

2017-09-03 15:02:25,534 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:25,536 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:25,548 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Order" (
	customer BIGINT,
	wine BIGINT,
	time BIGINT,
	"nrBottles" BIGINT,
	nrcases BIGINT
)


2017-09-03 15:02:25,549 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:25,552 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:25,557 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Order_customer" ON "Order" (customer)
2017-09-03 15:02:25,560 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:25,593 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:25,613 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-03 15:02:25,628 INFO sqlalchemy.engine.base.Engine INSERT INTO "Order" (customer, wine, time, "nrBottles", nrcases) VALUES (%(customer)s, %(wine)s, %(time)s, %(nrBottles)s, %(nrcases)s)
2017-09-03 15:02:25,630 INFO sqlalchemy.engine.base.Engine ({'nrcases': 2, 'customer': 355, 'nrBottles': 93, 'wine': 682, 'time': 441}, {'nrcases': 2, 'customer': 163, 'nrBottles': 95, 'wine': 336, 'time': 296}, {'nrcases': 2, 'customer': 584, 'nrBottles': 73, 'wine': 352, 'time': 72}, {'nrcases': 2, 'customer': 965, 'nrBottles': 33, 'wine': 10, 'time': 715}, {'nrcases': 5, 'customer': 465, 'nrBottles': 60, 'wine': 149, 'time': 803}, {'nrcases': 1, 'customer': 936, 'nrBottles': 95, 'wine': 205, 'time': 960}, {'nrcases': 5, 'customer': 806, 'nrBottles': 15, 'wine': 840, 'time': 230}, {'nrcases': 7, 'customer': 560, 'nrBottles': 77, 'wine': 555, 'time': 608}  ... displaying 10 of 1000 total bound parameter sets ...  {'nrcases': 8, 'customer': 155, 'nrBottles': 82, 'wine': 587, 'time': 662}, {'nrcases': 4, 'customer': 346, 'nrBottles': 91, 'wine': 344, 'time': 954})
2017-09-03 15:02:25,847 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:25,862 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-03 15:02:25,865 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-03 15:02:25,895 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:25,896 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-09-03 15:02:25,903 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:25,904 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-09-03 15:02:25,910 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-03 15:02:25,911 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-03 15:02:25,919 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-03 15:02:25,921 INFO sqlalchemy.engine.base.Engine {'table_name': u'Timestamp'}
2017-09-03 15:02:25,927 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-03 15:02:25,928 INFO sqlalchemy.engine.base.Engine {'table_oid': 41029}
2017-09-03 15:02:25,930 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-03 15:02:25,931 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:25,934 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-03 15:02:25,935 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:25,939 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-03 15:02:25,940 INFO sqlalchemy.engine.base.Engine {'table_oid': 41029}
2017-09-03 15:02:25,942 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-03 15:02:25,943 INFO sqlalchemy.engine.base.Engine {'table_oid': 41029}
2017-09-03 15:02:25,945 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-03 15:02:25,948 INFO sqlalchemy.engine.base.Engine {'table': 41029}
2017-09-03 15:02:25,950 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-03 15:02:25,957 INFO sqlalchemy.engine.base.Engine {'table_oid': 41029}
2017-09-03 15:02:25,966 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-03 15:02:25,968 INFO sqlalchemy.engine.base.Engine {'table_oid': 41029}
2017-09-03 15:02:25,970 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-03 15:02:25,971 INFO sqlalchemy.engine.base.Engine {'table_oid': 41029}
2017-09-03 15:02:25,976 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Timestamp"
2017-09-03 15:02:25,982 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:25,985 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:25,997 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Timestamp" (
	code BIGINT,
	"timeStamp" TEXT,
	date TEXT,
	year BIGINT
)


2017-09-03 15:02:25,998 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:26,027 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:26,051 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Timestamp_code" ON "Timestamp" (code)
2017-09-03 15:02:26,053 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:26,083 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:26,108 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-03 15:02:26,128 INFO sqlalchemy.engine.base.Engine INSERT INTO "Timestamp" (code, "timeStamp", date, year) VALUES (%(code)s, %(timeStamp)s, %(date)s, %(year)s)
2017-09-03 15:02:26,134 INFO sqlalchemy.engine.base.Engine ({'date': '1993-08-18 09:46:21', 'timeStamp': '4:20:55.000', 'code': 1, 'year': 1993}, {'date': '2003-06-21 17:26:57', 'timeStamp': '22:02:25.000', 'code': 2, 'year': 2003}, {'date': '1992-05-06 14:33:56', 'timeStamp': '23:52:58.000', 'code': 3, 'year': 1992}, {'date': '1995-12-23 18:54:17', 'timeStamp': '3:41:48.000', 'code': 4, 'year': 1995}, {'date': '2011-07-19 04:41:15', 'timeStamp': '11:03:03.000', 'code': 5, 'year': 2011}, {'date': '2013-09-07 03:32:31', 'timeStamp': '5:07:05.000', 'code': 6, 'year': 2013}, {'date': '2004-11-18 12:13:07', 'timeStamp': '2:18:56.000', 'code': 7, 'year': 2004}, {'date': '1999-07-12 17:42:12', 'timeStamp': '21:39:52.000', 'code': 8, 'year': 1999}  ... displaying 10 of 1000 total bound parameter sets ...  {'date': '2014-12-16 22:49:30', 'timeStamp': '14:39:14.000', 'code': 999, 'year': 2014}, {'date': '2005-12-23 11:17:59', 'timeStamp': '23:46:03.000', 'code': 1000, 'year': 2005})
2017-09-03 15:02:26,484 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:26,501 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-03 15:02:26,505 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-03 15:02:26,583 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:26,584 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}
2017-09-03 15:02:26,587 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:26,590 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}
2017-09-03 15:02:26,594 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-03 15:02:26,602 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-03 15:02:26,609 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-03 15:02:26,611 INFO sqlalchemy.engine.base.Engine {'table_name': u'Wine'}
2017-09-03 15:02:26,614 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-03 15:02:26,616 INFO sqlalchemy.engine.base.Engine {'table_oid': 41036}
2017-09-03 15:02:26,618 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-03 15:02:26,620 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:26,622 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-03 15:02:26,624 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:26,628 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-03 15:02:26,629 INFO sqlalchemy.engine.base.Engine {'table_oid': 41036}
2017-09-03 15:02:26,631 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-03 15:02:26,632 INFO sqlalchemy.engine.base.Engine {'table_oid': 41036}
2017-09-03 15:02:26,635 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-03 15:02:26,637 INFO sqlalchemy.engine.base.Engine {'table': 41036}
2017-09-03 15:02:26,640 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-03 15:02:26,644 INFO sqlalchemy.engine.base.Engine {'table_oid': 41036}
2017-09-03 15:02:26,654 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-03 15:02:26,656 INFO sqlalchemy.engine.base.Engine {'table_oid': 41036}
2017-09-03 15:02:26,662 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-03 15:02:26,663 INFO sqlalchemy.engine.base.Engine {'table_oid': 41036}
2017-09-03 15:02:26,668 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Wine"
2017-09-03 15:02:26,669 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:26,672 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:26,689 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Wine" (
	code BIGINT,
	name TEXT,
	type TEXT,
	vintage TEXT,
	bottleprice TEXT,
	caseprice TEXT,
	class BIGINT
)


2017-09-03 15:02:26,691 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:26,729 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:26,743 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Wine_code" ON "Wine" (code)
2017-09-03 15:02:26,744 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:26,774 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:26,790 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-03 15:02:26,817 INFO sqlalchemy.engine.base.Engine INSERT INTO "Wine" (code, name, type, vintage, bottleprice, caseprice, class) VALUES (%(code)s, %(name)s, %(type)s, %(vintage)s, %(bottleprice)s, %(caseprice)s, %(class)s)
2017-09-03 15:02:26,818 INFO sqlalchemy.engine.base.Engine ({'code': 1, 'name': 'Gan', 'vintage': '1955-01-06 05:45:01', 'bottleprice': '$56.57', 'caseprice': '$40.06', 'type': 'Maroon', 'class': 677}, {'code': 2, 'name': 'Melany', 'vintage': '1906-06-07 01:01:13', 'bottleprice': '$496.73', 'caseprice': '$577.38', 'type': 'Red', 'class': 125}, {'code': 3, 'name': 'Flory', 'vintage': '1959-08-19 01:15:48', 'bottleprice': '$81.45', 'caseprice': '$90.27', 'type': 'Crimson', 'class': 92}, {'code': 4, 'name': 'Laney', 'vintage': '1936-03-12 23:18:42', 'bottleprice': '$483.41', 'caseprice': '$792.87', 'type': 'Fuscia', 'class': 653}, {'code': 5, 'name': 'Kaile', 'vintage': '1986-12-04 01:32:40', 'bottleprice': '$84.52', 'caseprice': '$417.92', 'type': 'Khaki', 'class': 303}, {'code': 6, 'name': 'Byram', 'vintage': '2000-09-13 20:28:20', 'bottleprice': '$26.12', 'caseprice': '$473.33', 'type': 'Mauv', 'class': 785}, {'code': 7, 'name': 'Way', 'vintage': '1935-08-30 21:03:12', 'bottleprice': '$199.17', 'caseprice': '$121.80', 'type': 'Indigo', 'class': 801}, {'code': 8, 'name': 'Pippy', 'vintage': '1993-02-02 06:02:59', 'bottleprice': '$774.33', 'caseprice': '$104.79', 'type': 'Indigo', 'class': 696}  ... displaying 10 of 1000 total bound parameter sets ...  {'code': 999, 'name': 'Niccolo', 'vintage': '1913-07-01 06:15:34', 'bottleprice': '$539.64', 'caseprice': '$757.41', 'type': 'Mauv', 'class': 627}, {'code': 1000, 'name': 'Karoly', 'vintage': '1972-10-06 16:56:54', 'bottleprice': '$941.25', 'caseprice': '$412.93', 'type': 'Orange', 'class': 611})
2017-09-03 15:02:27,036 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-03 15:02:27,046 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-03 15:02:27,048 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}

In [105]:
def get_tipo_vinos_mas_vendidos_por_anio(anio):
    assert type(anio) == int, "Error"
    anio = str(anio)
    string_sql = "select w.type as tipo_vino, sum(o.\"nrBottles\") as cant_x_tipo_vino, (select sum(oo.\"nrBottles\") from \"Order\" as oo join \"Timestamp\" as tt on oo.time = tt.code and tt.year = "+anio+") as total_anual, (((sum(o.\"nrBottles\"))*100)/(select sum(oo.\"nrBottles\") from \"Order\" as oo join \"Timestamp\" as tt on oo.time = tt.code and tt.year = "+anio+")) as porcentaje, '"+anio+"' as anio from \"Wine\" as w join \"Order\" as o on (o.wine = w.code) join \"Timestamp\" as t on (o.time = t.code and t.year = "+anio+") group by w.type order by cant_x_tipo_vino desc;"
    resultado  = pd.read_sql(string_sql, engine)
    print "Muestre porcentajes de tipos de vinos m ́as vendidos en el anio "+anio 
    return resultado

get_tipo_vinos_mas_vendidos_por_anio(2004)

2017-09-03 15:02:29,394 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:29,399 INFO sqlalchemy.engine.base.Engine {'name': u'select w.type as tipo_vino, sum(o."nrBottles") as cant_x_tipo_vino, (select sum(oo."nrBottles") from "Order" as oo join "Timestamp" as tt on oo.time ... (234 characters truncated) ... w join "Order" as o on (o.wine = w.code) join "Timestamp" as t on (o.time = t.code and t.year = 2004) group by w.type order by cant_x_tipo_vino desc;'}
2017-09-03 15:02:29,402 INFO sqlalchemy.engine.base.Engine select w.type as tipo_vino, sum(o."nrBottles") as cant_x_tipo_vino, (select sum(oo."nrBottles") from "Order" as oo join "Timestamp" as tt on oo.time = tt.code and tt.year = 2004) as total_anual, (((sum(o."nrBottles"))*100)/(select sum(oo."nrBottles") from "Order" as oo join "Timestamp" as tt on oo.time = tt.code and tt.year = 2004)) as porcentaje, '2004' as anio from "Wine" as w join "Order" as o on (o.wine = w.code) join "Timestamp" as t on (o.time = t.code and t.year = 2004) group by w.type order by cant_x_tipo_vino desc;
2017-09-03 15:02:29,403 INFO sqlalchemy.engine.base.Engine {}
Muestre porcentajes de tipos de vinos m ́as vendidos en el anio 2004

     tipo_vino  cant_x_tipo_vino  total_anual  porcentaje  anio
0        Khaki             287.0       2025.0   14.172840  2004
1       Orange             252.0       2025.0   12.444444  2004
2         Puce             181.0       2025.0    8.938272  2004
3   Aquamarine             168.0       2025.0    8.296296  2004
4       Purple             147.0       2025.0    7.259259  2004
5       Violet             141.0       2025.0    6.962963  2004
6      Crimson             135.0       2025.0    6.666667  2004
7       Fuscia             131.0       2025.0    6.469136  2004
8    Turquoise             116.0       2025.0    5.728395  2004
9    Goldenrod             114.0       2025.0    5.629630  2004
10        Mauv              93.0       2025.0    4.592593  2004
11        Pink              80.0       2025.0    3.950617  2004
12         Red              70.0       2025.0    3.456790  2004
13        Blue              63.0       2025.0    3.111111  2004
14       Green              40.0       2025.0    1.975309  2004
15        Teal               7.0       2025.0    0.345679  2004

In [106]:
# Cu ́al es la temporada con mayor cantidad de ventas de X vino?

def get_temporada_mayor_ventas_por_vino(code_vino):
    string_sql = 'select * from \"Order\" where wine = %d;'%code_vino    
    df_ventas = pd.read_sql(string_sql, engine)
    df_time = pd.read_sql("select * from \"Timestamp\"", engine)    
    
    ventas_por_anio = {}
    for time, n_bottles in df_ventas[['time', 'nrBottles']].values:
        result = df_time.loc[df_time['code'] == time]
        year =  int(result['year'])
        try:
            ventas_por_anio[year] += n_bottles
        except:
            ventas_por_anio[year] = n_bottles
        
    maximo = max(ventas_por_anio.values())
    resultado = filter(lambda (k, v): True if v == maximo else False, ventas_por_anio.items())
    anios = map(lambda (k,v):  k, resultado)
    return maximo, anios

max_vendido, anios = get_temporada_mayor_ventas_por_vino(10)
print "Cantidad maxima %d En los anios %s "%(max_vendido, anios)

2017-09-03 15:02:35,687 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:35,689 INFO sqlalchemy.engine.base.Engine {'name': u'select * from "Order" where wine = 10;'}
2017-09-03 15:02:35,693 INFO sqlalchemy.engine.base.Engine select * from "Order" where wine = 10;
2017-09-03 15:02:35,694 INFO sqlalchemy.engine.base.Engine {}
2017-09-03 15:02:35,701 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-03 15:02:35,707 INFO sqlalchemy.engine.base.Engine {'name': u'select * from "Timestamp"'}
2017-09-03 15:02:35,710 INFO sqlalchemy.engine.base.Engine select * from "Timestamp"
2017-09-03 15:02:35,712 INFO sqlalchemy.engine.base.Engine {}
Cantidad maxima 71 En los anios [1998]

In [14]:
# Qu ́e clientes han realizado m ́as compras a lo largo de 4 a ̃nos?