In [1]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger
import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

# Conexion con la base de datos tp32

In [2]:
NOMBRE_DB = "tp32"
USUARIO_DB = 'postgres' #gaston
PASSWORD_DB = 'postgres' #gastonm1
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB,'')

engine = alchemy.create_engine(url_db, echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_DB)
    conn.close()
except Exception as e:
    print str(e)
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)
engine = alchemy.create_engine(url_db, echo=True)

2017-09-05 14:34:08,314 INFO sqlalchemy.engine.base.Engine select version()
2017-09-05 14:34:08,316 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,325 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-05 14:34:08,327 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,334 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:34:08,337 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,339 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:34:08,344 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,347 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-05 14:34:08,349 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,357 INFO sqlalchemy.engine.base.Engine commit
2017-09-05 14:34:08,360 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,363 INFO sqlalchemy.engine.base.Engine create database tp32
2017-09-05 14:34:08,365 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,377 INFO sqlalchemy.engine.base.Engine ROLLBACK
(psycopg2.ProgrammingError) database "tp32" already exists
 [SQL: 'create database tp32']

# Definicion de tablas
![Inmobilitaria](diagramas/Inmobiliaria.png)

In [3]:
Base = declarative_base()
class Customer(Base):
    __tablename__ = 'Customer'
    
    IDCust = Column(Integer, primary_key=True)
    Name = Column(String)
    Surname = Column(String)
    Address = Column(String)
    City = Column(String)
    Phone = Column(String)
    Budget = Column(Float)
    Office = Column(String)

class Estate(Base):
    __tablename__ = 'Estate'
    
    IDEstate = Column(Integer, primary_key=True)
    Category = Column(String)
    Area = Column(String)
    City = Column(String)
    Province = Column(String)
    Rooms = Column(Integer)
    Bedrooms = Column(Integer)
    Garage = Column(String)
    Meters = Column(Integer)

class Visit(Base):
    __tablename__ = 'Visit'
    
    IDVisit = Column(Integer, primary_key=True)
    Date = Column(Date)
    Duration = Column(Integer)

class Sale(Base):
    __tablename__ = 'Sale'
    
    IDSale = Column(Integer, primary_key=True)
    Date = Column(Date)
    AgreedPrice = Column(Float)
    Price = Column(Float)
    Status = Column(String)
    Time = Column(Integer)

class Agenda(Base):
    __tablename__ = 'Agenda'
    
    IDAgenda = Column(Integer, primary_key=True)
    Data = Column(String)
    Hour = Column(String)
    ClienteName = Column(String)

class Inmobiliaria(Base):
    __tablename__ = 'Inmobiliaria'
    
    ID = Column(Integer, primary_key=True)
    IDEstate = Column(Integer)
    IDCust = Column(Integer)
    IDVisit = Column(Integer)
    IDSale = Column(Integer)
    IDAgenda = Column(Integer)
    Date = Column(Date)

In [4]:
Base.metadata.create_all(engine)

2017-09-05 14:34:08,655 INFO sqlalchemy.engine.base.Engine select version()
2017-09-05 14:34:08,657 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,666 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-05 14:34:08,668 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,674 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:34:08,676 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,680 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:34:08,682 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,685 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-05 14:34:08,687 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,691 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,697 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-05 14:34:08,704 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,717 INFO sqlalchemy.engine.base.Engine {'name': u'Inmobiliaria'}
2017-09-05 14:34:08,720 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,722 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-05 14:34:08,725 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,728 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-05 14:34:08,734 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,735 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-05 14:34:08,738 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,739 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}

# Carga de datos
 ### Mocks -> [Mockaroo](https://www.mockaroo.com/)

In [20]:
datos_customer = 'data/inmobiliaria/customer.csv'
datos_agenda = 'data/inmobiliaria/agenda.csv'
datos_sale = 'data/inmobiliaria/sale.csv'
datos_visit = 'data/inmobiliaria/visit.csv'
datos_estate = 'data/inmobiliaria/estate.csv'
datos_hecho_inmobiliaria = 'data/inmobiliaria/hecho_inmobiliaria.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep=',')
df_agenda = pd.DataFrame.from_csv(datos_agenda,sep=',')
df_sale = pd.DataFrame.from_csv(datos_sale,sep=',')
df_visit = pd.DataFrame.from_csv(datos_visit,sep=',')
df_estate = pd.DataFrame.from_csv(datos_estate,sep=',')
df_hecho_inmobiliaria = pd.DataFrame.from_csv(datos_hecho_inmobiliaria,sep=',')

In [21]:
df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_agenda.to_sql("Agenda", con=engine, if_exists='replace')
df_sale.to_sql("Sale", con=engine, if_exists='replace')
df_visit.to_sql("Visit", con=engine, if_exists='replace')
df_estate.to_sql("Estate", con=engine, if_exists='replace')
df_hecho_inmobiliaria.to_sql("HechoInmobiliaria", con=engine, if_exists='replace')

2017-09-06 00:29:04,143 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 00:29:04,144 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-06 00:29:04,150 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 00:29:04,153 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-06 00:29:04,157 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 00:29:04,158 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 00:29:04,163 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 00:29:04,165 INFO sqlalchemy.engine.base.Engine {'table_name': u'Customer'}
2017-09-06 00:29:04,168 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 00:29:04,171 INFO sqlalchemy.engine.base.Engine {'table_oid': 49484}
2017-09-06 00:29:04,175 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 00:29:04,177 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:04,182 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 00:29:04,187 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:04,194 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 00:29:04,195 INFO sqlalchemy.engine.base.Engine {'table_oid': 49484}
2017-09-06 00:29:04,198 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 00:29:04,199 INFO sqlalchemy.engine.base.Engine {'table_oid': 49484}
2017-09-06 00:29:04,205 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 00:29:04,206 INFO sqlalchemy.engine.base.Engine {'table': 49484}
2017-09-06 00:29:04,209 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 00:29:04,210 INFO sqlalchemy.engine.base.Engine {'table_oid': 49484}
2017-09-06 00:29:04,214 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 00:29:04,215 INFO sqlalchemy.engine.base.Engine {'table_oid': 49484}
2017-09-06 00:29:04,221 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 00:29:04,224 INFO sqlalchemy.engine.base.Engine {'table_oid': 49484}
2017-09-06 00:29:04,228 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-09-06 00:29:04,230 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:04,237 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:04,287 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	"IDCust" BIGINT,
	"Name" TEXT,
	"Surname" TEXT,
	"Adress" TEXT,
	"City" TEXT,
	"Phone" TEXT,
	"Budget" FLOAT(53),
	"Office" TEXT
)


2017-09-06 00:29:04,289 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:04,331 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:04,343 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Customer_IDCust" ON "Customer" ("IDCust")
2017-09-06 00:29:04,345 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:04,388 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:04,400 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 00:29:04,435 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" ("IDCust", "Name", "Surname", "Adress", "City", "Phone", "Budget", "Office") VALUES (%(IDCust)s, %(Name)s, %(Surname)s, %(Adress)s, %(City)s, %(Phone)s, %(Budget)s, %(Office)s)

2017-09-06 00:29:04,444 INFO sqlalchemy.engine.base.Engine ({'City': 'Babirik', 'Surname': 'Gozney', 'Name': 'Enos', 'Office': 'potenti', 'IDCust': 1, 'Budget': 51059.72, 'Phone': '62-(477)447-6111', 'Adress': '25791 Thierer Lane'}, {'City': 'Jiaowei', 'Surname': 'Gale', 'Name': 'Saundra', 'Office': 'cras', 'IDCust': 2, 'Budget': 72669.0, 'Phone': '86-(911)905-6149', 'Adress': '47 Dunning Crossing'}, {'City': 'Beregovoy', 'Surname': 'Labbett', 'Name': 'Grethel', 'Office': 'nunc', 'IDCust': 3, 'Budget': 12551.79, 'Phone': '7-(813)507-8524', 'Adress': '8844 Mitchell Drive'}, {'City': 'Young', 'Surname': 'Gayther', 'Name': 'Jedidiah', 'Office': 'vestibulum', 'IDCust': 4, 'Budget': 68349.68, 'Phone': '598-(762)860-2698', 'Adress': '5 Arrowood Center'}, {'City': 'Barroso', 'Surname': 'McKimmie', 'Name': 'Eleonora', 'Office': 'ut', 'IDCust': 5, 'Budget': 56635.63, 'Phone': '55-(410)522-9669', 'Adress': '0 Roxbury Junction'}, {'City': 'Barranqueras', 'Surname': 'Kybird', 'Name': 'Pearce', 'Office': 'aliquam', 'IDCust': 6, 'Budget': 77835.4, 'Phone': '54-(975)404-2824', 'Adress': '1955 Talmadge Plaza'}, {'City': 'Bazar-Korgon', 'Surname': 'Hylden', 'Name': 'Daisy', 'Office': 'vel', 'IDCust': 7, 'Budget': 68078.71, 'Phone': '996-(578)844-2440', 'Adress': '8318 Paget Parkway'}, {'City': 'Pedro Garc\xc3\xada', 'Surname': 'Brixey', 'Name': 'Charmian', 'Office': 'metus', 'IDCust': 8, 'Budget': 28787.29, 'Phone': '1-(570)523-8177', 'Adress': '697 Arapahoe Junction'}  ... displaying 10 of 1000 total bound parameter sets ...  {'City': 'Huangqiang', 'Surname': 'St. Leger', 'Name': 'Fred', 'Office': 'maecenas', 'IDCust': 999, 'Budget': 62639.82, 'Phone': '86-(175)966-3186', 'Adress': '75 Killdeer Pass'}, {'City': 'Phitsanulok', 'Surname': 'Abramsky', 'Name': 'Abbie', 'Office': 'suspendisse', 'IDCust': 1000, 'Budget': 89457.75, 'Phone': '66-(192)540-1362', 'Adress': '90 Northview Avenue'})
2017-09-06 00:29:04,699 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:04,747 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 00:29:04,751 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 00:29:04,784 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 00:29:04,786 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-09-06 00:29:04,795 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 00:29:04,796 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-09-06 00:29:04,805 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 00:29:04,806 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 00:29:04,812 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 00:29:04,814 INFO sqlalchemy.engine.base.Engine {'table_name': u'Agenda'}
2017-09-06 00:29:04,819 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 00:29:04,821 INFO sqlalchemy.engine.base.Engine {'table_oid': 49289}
2017-09-06 00:29:04,824 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 00:29:04,825 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:04,830 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 00:29:04,831 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:04,836 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 00:29:04,839 INFO sqlalchemy.engine.base.Engine {'table_oid': 49289}
2017-09-06 00:29:04,842 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 00:29:04,843 INFO sqlalchemy.engine.base.Engine {'table_oid': 49289}
2017-09-06 00:29:04,847 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 00:29:04,848 INFO sqlalchemy.engine.base.Engine {'table': 49289}
2017-09-06 00:29:04,850 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 00:29:04,854 INFO sqlalchemy.engine.base.Engine {'table_oid': 49289}

2017-09-06 00:29:04,858 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 00:29:04,859 INFO sqlalchemy.engine.base.Engine {'table_oid': 49289}
2017-09-06 00:29:04,862 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 00:29:04,863 INFO sqlalchemy.engine.base.Engine {'table_oid': 49289}
2017-09-06 00:29:04,865 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Agenda"
2017-09-06 00:29:04,866 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:04,869 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:04,882 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Agenda" (
	"IDAgenda" BIGINT,
	"Date" TEXT,
	"Hour" BIGINT,
	"Duration" FLOAT(53),
	"ClientName" TEXT
)


2017-09-06 00:29:04,884 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:04,922 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:04,936 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Agenda_IDAgenda" ON "Agenda" ("IDAgenda")
2017-09-06 00:29:04,937 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:04,984 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:05,004 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 00:29:05,034 INFO sqlalchemy.engine.base.Engine INSERT INTO "Agenda" ("IDAgenda", "Date", "Hour", "Duration", "ClientName") VALUES (%(IDAgenda)s, %(Date)s, %(Hour)s, %(Duration)s, %(ClientName)s)
2017-09-06 00:29:05,039 INFO sqlalchemy.engine.base.Engine ({'Date': '7/30/2017', 'Duration': 80.33, 'ClientName': 'Beverie', 'Hour': 74, 'IDAgenda': 1}, {'Date': '9/6/2016', 'Duration': 21.53, 'ClientName': 'Engelbert', 'Hour': 15, 'IDAgenda': 2}, {'Date': '12/17/2016', 'Duration': 39.66, 'ClientName': 'Leonhard', 'Hour': 44, 'IDAgenda': 3}, {'Date': '9/19/2016', 'Duration': 77.34, 'ClientName': 'Ermanno', 'Hour': 46, 'IDAgenda': 4}, {'Date': '11/16/2016', 'Duration': 79.48, 'ClientName': 'Heidie', 'Hour': 50, 'IDAgenda': 5}, {'Date': '12/1/2016', 'Duration': 66.92, 'ClientName': 'Alisha', 'Hour': 48, 'IDAgenda': 6}, {'Date': '1/24/2017', 'Duration': 46.23, 'ClientName': 'Tabbitha', 'Hour': 37, 'IDAgenda': 7}, {'Date': '5/26/2017', 'Duration': 18.03, 'ClientName': 'Emily', 'Hour': 83, 'IDAgenda': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Date': '8/26/2017', 'Duration': 38.91, 'ClientName': 'Norah', 'Hour': 16, 'IDAgenda': 999}, {'Date': '1/1/2017', 'Duration': 54.44, 'ClientName': 'Hettie', 'Hour': 98, 'IDAgenda': 1000})
2017-09-06 00:29:05,347 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:05,396 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 00:29:05,397 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 00:29:05,439 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 00:29:05,441 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-06 00:29:05,444 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 00:29:05,446 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-06 00:29:05,448 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 00:29:05,450 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 00:29:05,452 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 00:29:05,454 INFO sqlalchemy.engine.base.Engine {'table_name': u'Sale'}
2017-09-06 00:29:05,457 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 00:29:05,459 INFO sqlalchemy.engine.base.Engine {'table_oid': 49278}
2017-09-06 00:29:05,465 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 00:29:05,468 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:05,472 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 00:29:05,476 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:05,479 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 00:29:05,480 INFO sqlalchemy.engine.base.Engine {'table_oid': 49278}
2017-09-06 00:29:05,483 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 00:29:05,484 INFO sqlalchemy.engine.base.Engine {'table_oid': 49278}
2017-09-06 00:29:05,487 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 00:29:05,488 INFO sqlalchemy.engine.base.Engine {'table': 49278}
2017-09-06 00:29:05,492 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 00:29:05,494 INFO sqlalchemy.engine.base.Engine {'table_oid': 49278}
2017-09-06 00:29:05,497 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 00:29:05,498 INFO sqlalchemy.engine.base.Engine {'table_oid': 49278}
2017-09-06 00:29:05,505 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 00:29:05,508 INFO sqlalchemy.engine.base.Engine {'table_oid': 49278}
2017-09-06 00:29:05,513 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Sale"
2017-09-06 00:29:05,515 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:05,518 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:05,544 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Sale" (
	"IDSale" BIGINT,
	"Date" TEXT,
	"AgreedPrice" FLOAT(53),
	"Price" FLOAT(53),
	"Status" TEXT,
	"Time" TEXT
)


2017-09-06 00:29:05,546 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:05,579 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:05,596 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Sale_IDSale" ON "Sale" ("IDSale")
2017-09-06 00:29:05,597 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:05,635 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:05,653 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 00:29:05,685 INFO sqlalchemy.engine.base.Engine INSERT INTO "Sale" ("IDSale", "Date", "AgreedPrice", "Price", "Status", "Time") VALUES (%(IDSale)s, %(Date)s, %(AgreedPrice)s, %(Price)s, %(Status)s, %(Time)s)
2017-09-06 00:29:05,693 INFO sqlalchemy.engine.base.Engine ({'Status': 'erat', 'IDSale': 1, 'Price': 48.56, 'AgreedPrice': 99.11, 'Time': '4:55 AM', 'Date': '7/4/2017'}, {'Status': 'ultrices', 'IDSale': 2, 'Price': 62.21, 'AgreedPrice': 92.48, 'Time': '3:29 AM', 'Date': '12/17/2016'}, {'Status': 'integer', 'IDSale': 3, 'Price': 53.87, 'AgreedPrice': 69.94, 'Time': '6:37 AM', 'Date': '11/11/2016'}, {'Status': 'massa', 'IDSale': 4, 'Price': 72.49, 'AgreedPrice': 4.89, 'Time': '7:26 AM', 'Date': '6/19/2017'}, {'Status': 'quisque', 'IDSale': 5, 'Price': 70.53, 'AgreedPrice': 3.32, 'Time': '1:07 PM', 'Date': '3/31/2017'}, {'Status': 'odio', 'IDSale': 6, 'Price': 13.42, 'AgreedPrice': 64.84, 'Time': '1:46 PM', 'Date': '9/13/2016'}, {'Status': 'sed', 'IDSale': 7, 'Price': 2.47, 'AgreedPrice': 37.61, 'Time': '10:36 PM', 'Date': '4/4/2017'}, {'Status': 'primis', 'IDSale': 8, 'Price': 69.61, 'AgreedPrice': 61.46, 'Time': '11:37 PM', 'Date': '10/16/2016'}  ... displaying 10 of 1000 total bound parameter sets ...  {'Status': 'platea', 'IDSale': 999, 'Price': 19.56, 'AgreedPrice': 16.92, 'Time': '3:40 AM', 'Date': '12/25/2016'}, {'Status': 'sem', 'IDSale': 1000, 'Price': 84.4, 'AgreedPrice': 50.55, 'Time': '10:16 PM', 'Date': '6/22/2017'})
2017-09-06 00:29:06,052 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:06,100 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 00:29:06,102 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 00:29:06,116 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 00:29:06,123 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-06 00:29:06,130 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 00:29:06,131 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-06 00:29:06,135 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 00:29:06,136 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 00:29:06,140 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 00:29:06,142 INFO sqlalchemy.engine.base.Engine {'table_name': u'Visit'}
2017-09-06 00:29:06,144 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 00:29:06,146 INFO sqlalchemy.engine.base.Engine {'table_oid': 49270}
2017-09-06 00:29:06,148 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 00:29:06,149 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:06,151 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 00:29:06,152 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:06,156 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 00:29:06,157 INFO sqlalchemy.engine.base.Engine {'table_oid': 49270}
2017-09-06 00:29:06,160 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 00:29:06,161 INFO sqlalchemy.engine.base.Engine {'table_oid': 49270}
2017-09-06 00:29:06,163 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 00:29:06,164 INFO sqlalchemy.engine.base.Engine {'table': 49270}
2017-09-06 00:29:06,174 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 00:29:06,183 INFO sqlalchemy.engine.base.Engine {'table_oid': 49270}
2017-09-06 00:29:06,186 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 00:29:06,188 INFO sqlalchemy.engine.base.Engine {'table_oid': 49270}
2017-09-06 00:29:06,192 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 00:29:06,193 INFO sqlalchemy.engine.base.Engine {'table_oid': 49270}
2017-09-06 00:29:06,195 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Visit"
2017-09-06 00:29:06,198 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:06,200 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:06,212 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Visit" (
	"IDVisit" BIGINT,
	"Date" TEXT,
	"Duration" FLOAT(53)
)


2017-09-06 00:29:06,213 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:06,266 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:06,277 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Visit_IDVisit" ON "Visit" ("IDVisit")
2017-09-06 00:29:06,278 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:06,314 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:06,334 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 00:29:06,364 INFO sqlalchemy.engine.base.Engine INSERT INTO "Visit" ("IDVisit", "Date", "Duration") VALUES (%(IDVisit)s, %(Date)s, %(Duration)s)
2017-09-06 00:29:06,366 INFO sqlalchemy.engine.base.Engine ({'Date': '1/21/2017', 'Duration': 85.6, 'IDVisit': 1}, {'Date': '8/28/2017', 'Duration': 94.5, 'IDVisit': 2}, {'Date': '4/23/2017', 'Duration': 31.4, 'IDVisit': 3}, {'Date': '1/15/2017', 'Duration': 14.9, 'IDVisit': 4}, {'Date': '2/4/2017', 'Duration': 94.1, 'IDVisit': 5}, {'Date': '10/24/2016', 'Duration': 14.7, 'IDVisit': 6}, {'Date': '10/18/2016', 'Duration': 39.3, 'IDVisit': 7}, {'Date': '8/8/2017', 'Duration': 55.7, 'IDVisit': 8}  ... displaying 10 of 1000 total bound parameter sets ...  {'Date': '3/22/2017', 'Duration': 84.7, 'IDVisit': 999}, {'Date': '10/25/2016', 'Duration': 83.9, 'IDVisit': 1000})
2017-09-06 00:29:06,750 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:06,769 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 00:29:06,773 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 00:29:06,841 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 00:29:06,850 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-06 00:29:06,853 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 00:29:06,855 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-06 00:29:06,859 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 00:29:06,865 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 00:29:06,868 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-06 00:29:06,871 INFO sqlalchemy.engine.base.Engine {'table_name': u'Estate'}
2017-09-06 00:29:06,876 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-06 00:29:06,881 INFO sqlalchemy.engine.base.Engine {'table_oid': 49259}
2017-09-06 00:29:06,886 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-06 00:29:06,890 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:06,896 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-06 00:29:06,899 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:06,905 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-06 00:29:06,907 INFO sqlalchemy.engine.base.Engine {'table_oid': 49259}

2017-09-06 00:29:06,920 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-06 00:29:06,921 INFO sqlalchemy.engine.base.Engine {'table_oid': 49259}
2017-09-06 00:29:06,925 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-06 00:29:06,927 INFO sqlalchemy.engine.base.Engine {'table': 49259}
2017-09-06 00:29:06,932 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-06 00:29:06,935 INFO sqlalchemy.engine.base.Engine {'table_oid': 49259}
2017-09-06 00:29:06,938 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-06 00:29:06,943 INFO sqlalchemy.engine.base.Engine {'table_oid': 49259}
2017-09-06 00:29:06,949 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-06 00:29:06,950 INFO sqlalchemy.engine.base.Engine {'table_oid': 49259}
2017-09-06 00:29:06,953 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Estate"
2017-09-06 00:29:06,954 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:06,957 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:06,971 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Estate" (
	"IDEstate" BIGINT,
	"Category" TEXT,
	"Area" TEXT,
	"City" TEXT,
	"Province" TEXT,
	"Rooms" BIGINT,
	"Bedrooms" BIGINT,
	"Garage" BOOLEAN,
	"Meters" FLOAT(53)
)


2017-09-06 00:29:06,972 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:07,015 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:07,035 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Estate_IDEstate" ON "Estate" ("IDEstate")
2017-09-06 00:29:07,036 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:07,071 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:07,081 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 00:29:07,129 INFO sqlalchemy.engine.base.Engine INSERT INTO "Estate" ("IDEstate", "Category", "Area", "City", "Province", "Rooms", "Bedrooms", "Garage", "Meters") VALUES (%(IDEstate)s, %(Category)s, %(Area)s, %(City)s, %(Province)s, %(Rooms)s, %(Bedrooms)s, %(Garage)s, %(Meters)s)
2017-09-06 00:29:07,135 INFO sqlalchemy.engine.base.Engine ({'Category': 'etiam', 'City': 'Lexington', 'Area': 'tempor', 'Bedrooms': 2, 'Garage': False, 'Meters': 25.4, 'Rooms': 43, 'IDEstate': 1, 'Province': 'Kentucky'}, {'Category': 'hendrerit', 'City': 'New York City', 'Area': 'lobortis', 'Bedrooms': 96, 'Garage': True, 'Meters': 96.9, 'Rooms': 90, 'IDEstate': 2, 'Province': 'New York'}, {'Category': 'sociis', 'City': 'Houston', 'Area': 'consequat', 'Bedrooms': 14, 'Garage': False, 'Meters': 20.3, 'Rooms': 41, 'IDEstate': 3, 'Province': 'Texas'}, {'Category': 'accumsan', 'City': 'Sacramento', 'Area': 'risus', 'Bedrooms': 2, 'Garage': False, 'Meters': 73.7, 'Rooms': 96, 'IDEstate': 4, 'Province': 'California'}, {'Category': 'ligula', 'City': 'New York City', 'Area': 'quam', 'Bedrooms': 67, 'Garage': True, 'Meters': 35.1, 'Rooms': 65, 'IDEstate': 5, 'Province': 'New York'}, {'Category': 'congue', 'City': 'Montgomery', 'Area': 'vel', 'Bedrooms': 12, 'Garage': False, 'Meters': 97.9, 'Rooms': 51, 'IDEstate': 6, 'Province': 'Alabama'}, {'Category': 'luctus', 'City': 'Watertown', 'Area': 'lectus', 'Bedrooms': 87, 'Garage': False, 'Meters': 54.1, 'Rooms': 82, 'IDEstate': 7, 'Province': 'Massachusetts'}, {'Category': 'sem', 'City': 'Chicago', 'Area': 'ut', 'Bedrooms': 87, 'Garage': True, 'Meters': 90.6, 'Rooms': 76, 'IDEstate': 8, 'Province': 'Illinois'}  ... displaying 10 of 1000 total bound parameter sets ...  {'Category': 'sit', 'City': 'Springfield', 'Area': 'nec', 'Bedrooms': 61, 'Garage': True, 'Meters': 11.7, 'Rooms': 45, 'IDEstate': 999, 'Province': 'Missouri'}, {'Category': 'a', 'City': 'Fort Lauderdale', 'Area': 'ut', 'Bedrooms': 86, 'Garage': False, 'Meters': 13.4, 'Rooms': 42, 'IDEstate': 1000, 'Province': 'Florida'})
2017-09-06 00:29:07,616 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:07,633 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 00:29:07,636 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-06 00:29:07,661 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-06 00:29:07,664 INFO sqlalchemy.engine.base.Engine {'name': u'HechoInmobiliaria'}
2017-09-06 00:29:07,671 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "HechoInmobiliaria" (
	"IDHecho" BIGINT,
	"IDEstate" BIGINT,
	"IDCust" BIGINT,
	"IDVisit" BIGINT,
	"IDSale" BIGINT,
	"IDAgenda" BIGINT,
	"Date" TEXT
)


2017-09-06 00:29:07,673 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:07,716 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:07,728 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_HechoInmobiliaria_IDHecho" ON "HechoInmobiliaria" ("IDHecho")
2017-09-06 00:29:07,729 INFO sqlalchemy.engine.base.Engine {}
2017-09-06 00:29:07,772 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:07,784 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-06 00:29:07,813 INFO sqlalchemy.engine.base.Engine INSERT INTO "HechoInmobiliaria" ("IDHecho", "IDEstate", "IDCust", "IDVisit", "IDSale", "IDAgenda", "Date") VALUES (%(IDHecho)s, %(IDEstate)s, %(IDCust)s, %(IDVisit)s, %(IDSale)s, %(IDAgenda)s, %(Date)s)
2017-09-06 00:29:07,814 INFO sqlalchemy.engine.base.Engine ({'IDSale': 104, 'IDHecho': 1, 'IDCust': 96, 'IDVisit': 800, 'IDAgenda': 958, 'IDEstate': 137, 'Date': '5/27/2012'}, {'IDSale': 30, 'IDHecho': 2, 'IDCust': 185, 'IDVisit': 598, 'IDAgenda': 311, 'IDEstate': 233, 'Date': '2/12/2007'}, {'IDSale': 323, 'IDHecho': 3, 'IDCust': 229, 'IDVisit': 60, 'IDAgenda': 980, 'IDEstate': 329, 'Date': '7/25/2013'}, {'IDSale': 509, 'IDHecho': 4, 'IDCust': 996, 'IDVisit': 95, 'IDAgenda': 800, 'IDEstate': 672, 'Date': '9/7/2015'}, {'IDSale': 111, 'IDHecho': 5, 'IDCust': 811, 'IDVisit': 801, 'IDAgenda': 786, 'IDEstate': 134, 'Date': '12/5/2008'}, {'IDSale': 868, 'IDHecho': 6, 'IDCust': 783, 'IDVisit': 303, 'IDAgenda': 872, 'IDEstate': 865, 'Date': '1/7/2014'}, {'IDSale': 105, 'IDHecho': 7, 'IDCust': 568, 'IDVisit': 909, 'IDAgenda': 784, 'IDEstate': 214, 'Date': '7/18/2014'}, {'IDSale': 905, 'IDHecho': 8, 'IDCust': 724, 'IDVisit': 93, 'IDAgenda': 709, 'IDEstate': 658, 'Date': '5/1/2016'}  ... displaying 10 of 1000 total bound parameter sets ...  {'IDSale': 344, 'IDHecho': 999, 'IDCust': 117, 'IDVisit': 18, 'IDAgenda': 480, 'IDEstate': 362, 'Date': '8/8/2009'}, {'IDSale': 979, 'IDHecho': 1000, 'IDCust': 671, 'IDVisit': 410, 'IDAgenda': 543, 'IDEstate': 170, 'Date': '1/10/2010'})

2017-09-06 00:29:08,233 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-06 00:29:08,245 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-06 00:29:08,246 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}

# Consultas

### 1- ¿Que tipo de propiedad se vendio por el precio mas alto con respecto a cada ciudad y meses?

### 2- ¿Quien ha comprado un piso con el precio mas alto con respecto a cada mes?

### 3- ¿Cual es la duracion media de visitas en las propiedades de cada categorıa?