In [1]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger

import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

In [2]:
# Conexion con postgres, creamos y nos conectamos a la bd pal tp3.
NOMBRE_BD = "tp3"
engine = alchemy.create_engine('postgresql+psycopg2://gaston:gastonm1@localhost:5432', echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_BD)
    conn.close()
except Exception as e:
    print str(e)
engine = alchemy.create_engine('postgresql+psycopg2://gaston:gastonm1@localhost:5432/'+NOMBRE_BD, echo=True)
Base = declarative_base()

(psycopg2.OperationalError) FATAL:  database "gaston" does not exist

In [3]:
class Customer(Base):
    __tablename__ = 'Customer'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    address = Column(String)
    phone = Column(String)
    bday = Column(Date)
    gender = Column(String)
    
    #Para formateo de objeto
    def __repr___(self):
        return "<Customer(name='%s', address='%s', phone='%s', gender=%s')>"%(self.name, self.address, self.phone, self.gender)

In [4]:
class Timestamp(Base):
    __tablename__ = 'Timestamp'
    
    code = Column(Integer, primary_key=True)
    timestamp = Column(BigInteger)
    date = Column(Date)
    year = Column(Integer)

In [5]:
class ClaseVino(Base):
    __tablename__ = 'ClaseVino'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    region = Column(String)

In [6]:
class Wine(Base):
    __tablename__ = 'Wine'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    tipo = Column(String)
    vintage = Column(Integer)
    bottlePrice = Column(Float)
    casePrice = Column(Float)
    claseVino = Column(Integer)

In [7]:
class Order(Base):
    __tablename__ = 'Order'
    
    code = Column(Integer, primary_key=True)
    customer = Column(Integer)
    wine = Column(Integer)
    timeStamp = Column(Integer)
    nrBottles = Column(Integer)
    nrCases = Column(Integer)

In [8]:
Base.metadata.create_all(engine)

2017-08-29 16:18:15,144 INFO sqlalchemy.engine.base.Engine select version()
2017-08-29 16:18:15,145 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,147 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-08-29 16:18:15,147 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,148 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-08-29 16:18:15,149 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,150 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-08-29 16:18:15,151 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,153 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-08-29 16:18:15,154 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,156 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,157 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-08-29 16:18:15,158 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,159 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-08-29 16:18:15,160 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,160 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-08-29 16:18:15,162 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,162 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-08-29 16:18:15,163 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,164 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}
2017-08-29 16:18:15,166 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	code SERIAL NOT NULL,
	name VARCHAR,
	address VARCHAR,
	phone VARCHAR,
	bday DATE,
	gender VARCHAR,
	PRIMARY KEY (code)
)


2017-08-29 16:18:15,166 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,188 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,191 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Timestamp" (
	code SERIAL NOT NULL,
	timestamp BIGINT,
	date DATE,
	year INTEGER,
	PRIMARY KEY (code)
)


2017-08-29 16:18:15,193 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,207 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,215 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Order" (
	code SERIAL NOT NULL,
	customer INTEGER,
	wine INTEGER,
	"timeStamp" INTEGER,
	"nrBottles" INTEGER,
	"nrCases" INTEGER,
	PRIMARY KEY (code)
)


2017-08-29 16:18:15,216 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,224 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,226 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "ClaseVino" (
	code SERIAL NOT NULL,
	name VARCHAR,
	region VARCHAR,
	PRIMARY KEY (code)
)


2017-08-29 16:18:15,227 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,237 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,245 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Wine" (
	code SERIAL NOT NULL,
	name VARCHAR,
	tipo VARCHAR,
	vintage INTEGER,
	"bottlePrice" FLOAT,
	"casePrice" FLOAT,
	"claseVino" INTEGER,
	PRIMARY KEY (code)
)


2017-08-29 16:18:15,245 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,255 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
# Probamos un ejemplo Customer
#cliente = Customer(name='Nicolas3', address='Julio A Roca', phone='41-(625)137-9314', bday='1968-05-20 16:31:20', gender='m')
#from sqlalchemy.orm import sessionmaker
#Session = sessionmaker(bind=engine)
#session = Session()
#session.add(cliente)
#session.commit()
#for instance in session.query(Customer).order_by(Customer.code):
 #   print(instance.name, instance.address)

In [10]:
datos_customer = 'data/MOCK_DATA-customer.csv'
datos_class = 'data/MOCK_DATA-class.csv'
datos_order = 'data/MOCK_DATA-order.csv'
datos_time = 'data/MOCK_DATA-time.csv'
datos_wine = 'data/MOCK_DATA-wine.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep=',')
df_class = pd.DataFrame.from_csv(datos_class,sep=',')
df_order = pd.DataFrame.from_csv(datos_order,sep=',')
df_time = pd.DataFrame.from_csv(datos_time,sep=',')
df_wine = pd.DataFrame.from_csv(datos_wine,sep=',')

In [11]:
# transforma los datos en sql, y los inserta.
df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_class.to_sql("ClaseVino", con=engine, if_exists='replace')
df_order.to_sql("Order", con=engine, if_exists='replace')
df_time.to_sql("Timestamp", con=engine, if_exists='replace')
df_wine.to_sql("Wine", con=engine, if_exists='replace')

2017-08-29 16:18:15,317 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,318 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-08-29 16:18:15,320 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,321 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-08-29 16:18:15,322 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 16:18:15,323 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-08-29 16:18:15,325 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-08-29 16:18:15,326 INFO sqlalchemy.engine.base.Engine {'table_name': u'Customer'}
2017-08-29 16:18:15,328 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-08-29 16:18:15,329 INFO sqlalchemy.engine.base.Engine {'table_oid': 24644}
2017-08-29 16:18:15,332 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-08-29 16:18:15,333 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,335 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-08-29 16:18:15,336 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,344 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-08-29 16:18:15,345 INFO sqlalchemy.engine.base.Engine {'table_oid': 24644}
2017-08-29 16:18:15,347 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-08-29 16:18:15,348 INFO sqlalchemy.engine.base.Engine {'table_oid': 24644}
2017-08-29 16:18:15,351 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-08-29 16:18:15,352 INFO sqlalchemy.engine.base.Engine {'table': 24644}
2017-08-29 16:18:15,353 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-08-29 16:18:15,354 INFO sqlalchemy.engine.base.Engine {'table_oid': 24644}
2017-08-29 16:18:15,358 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-08-29 16:18:15,359 INFO sqlalchemy.engine.base.Engine {'table_oid': 24644}
2017-08-29 16:18:15,361 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-08-29 16:18:15,361 INFO sqlalchemy.engine.base.Engine {'table_oid': 24644}
2017-08-29 16:18:15,363 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-08-29 16:18:15,363 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,365 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,368 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	name TEXT,
	address TEXT,
	phone TEXT,
	bday TEXT,
	gender TEXT
)


2017-08-29 16:18:15,368 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,371 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,372 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Customer_name" ON "Customer" (name)
2017-08-29 16:18:15,373 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,386 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,395 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-29 16:18:15,407 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" (name, address, phone, bday, gender) VALUES (%(name)s, %(address)s, %(phone)s, %(bday)s, %(gender)s)
2017-08-29 16:18:15,408 INFO sqlalchemy.engine.base.Engine ({'bday': '1968-05-20 16:31:20', 'gender': 'Female', 'name': 'Bonny', 'phone': '41-(625)137-9314', 'address': '07324 Montana Way'}, {'bday': '1964-03-23 14:32:24', 'gender': 'Female', 'name': 'Brianna', 'phone': '359-(623)793-6068', 'address': '839 Onsgard Court'}, {'bday': '1979-08-19 06:18:46', 'gender': 'Female', 'name': 'Shawna', 'phone': '970-(249)951-8657', 'address': '520 Moose Avenue'}, {'bday': '1971-10-28 05:29:53', 'gender': 'Male', 'name': 'Allin', 'phone': '996-(945)197-3282', 'address': '6 Harbort Street'}, {'bday': '1989-08-01 07:53:37', 'gender': 'Female', 'name': 'Ethelind', 'phone': '63-(878)360-5280', 'address': '22 Dixon Point'}, {'bday': '1986-04-20 11:34:09', 'gender': 'Female', 'name': 'Rhianna', 'phone': '86-(858)285-9284', 'address': '0 Ramsey Hill'}, {'bday': '1979-01-07 19:31:10', 'gender': 'Male', 'name': 'Julius', 'phone': '86-(750)227-5599', 'address': '0271 Dahle Alley'}, {'bday': '1989-02-10 04:05:22', 'gender': 'Male', 'name': 'Thorin', 'phone': '351-(237)922-4231', 'address': '16748 Hansons Drive'}  ... displaying 10 of 1000 total bound parameter sets ...  {'bday': '1969-05-07 15:23:28', 'gender': 'Male', 'name': 'Albrecht', 'phone': '86-(863)911-6146', 'address': '3091 Carioca Road'}, {'bday': '2007-10-12 14:12:38', 'gender': 'Male', 'name': 'Justis', 'phone': '7-(737)829-9661', 'address': '175 Laurel Place'})

2017-08-29 16:18:15,488 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,491 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 16:18:15,491 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-08-29 16:18:15,496 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,497 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-08-29 16:18:15,498 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,499 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-08-29 16:18:15,500 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 16:18:15,501 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-08-29 16:18:15,502 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-08-29 16:18:15,503 INFO sqlalchemy.engine.base.Engine {'table_name': u'ClaseVino'}
2017-08-29 16:18:15,504 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-08-29 16:18:15,505 INFO sqlalchemy.engine.base.Engine {'table_oid': 24671}
2017-08-29 16:18:15,506 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-08-29 16:18:15,507 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,508 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-08-29 16:18:15,509 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,510 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-08-29 16:18:15,511 INFO sqlalchemy.engine.base.Engine {'table_oid': 24671}
2017-08-29 16:18:15,512 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-08-29 16:18:15,513 INFO sqlalchemy.engine.base.Engine {'table_oid': 24671}
2017-08-29 16:18:15,515 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-08-29 16:18:15,516 INFO sqlalchemy.engine.base.Engine {'table': 24671}
2017-08-29 16:18:15,517 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-08-29 16:18:15,518 INFO sqlalchemy.engine.base.Engine {'table_oid': 24671}
2017-08-29 16:18:15,521 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-08-29 16:18:15,521 INFO sqlalchemy.engine.base.Engine {'table_oid': 24671}
2017-08-29 16:18:15,523 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-08-29 16:18:15,523 INFO sqlalchemy.engine.base.Engine {'table_oid': 24671}
2017-08-29 16:18:15,524 INFO sqlalchemy.engine.base.Engine
DROP TABLE "ClaseVino"
2017-08-29 16:18:15,525 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,526 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,529 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "ClaseVino" (
	code BIGINT,
	name TEXT,
	region TEXT
)


2017-08-29 16:18:15,530 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,543 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,545 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_ClaseVino_code" ON "ClaseVino" (code)
2017-08-29 16:18:15,545 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,547 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,549 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-29 16:18:15,555 INFO sqlalchemy.engine.base.Engine INSERT INTO "ClaseVino" (code, name, region) VALUES (%(code)s, %(name)s, %(region)s)

2017-08-29 16:18:15,556 INFO sqlalchemy.engine.base.Engine ({'region': 'Guyana', 'code': 1, 'name': 'Duck, comb'}, {'region': 'Norway', 'code': 2, 'name': 'Canadian river otter'}, {'region': 'China', 'code': 3, 'name': 'Squirrel, palm'}, {'region': 'Russia', 'code': 4, 'name': 'Bee-eater (unidentified)'}, {'region': 'Greece', 'code': 5, 'name': 'European badger'}, {'region': 'Poland', 'code': 6, 'name': 'Colobus, white-mantled'}, {'region': 'United States', 'code': 7, 'name': 'Egyptian viper'}, {'region': 'Bolivia', 'code': 8, 'name': 'Arctic lemming'}  ... displaying 10 of 1000 total bound parameter sets ...  {'region': 'Vietnam', 'code': 999, 'name': 'Goldeneye, barrows'}, {'region': 'Indonesia', 'code': 1000, 'name': 'Great white pelican'})
2017-08-29 16:18:15,615 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,625 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 16:18:15,626 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-08-29 16:18:15,631 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,632 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-08-29 16:18:15,635 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,635 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-08-29 16:18:15,638 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 16:18:15,639 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-08-29 16:18:15,640 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-08-29 16:18:15,641 INFO sqlalchemy.engine.base.Engine {'table_name': u'Order'}
2017-08-29 16:18:15,643 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-08-29 16:18:15,643 INFO sqlalchemy.engine.base.Engine {'table_oid': 24663}
2017-08-29 16:18:15,645 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-08-29 16:18:15,646 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,647 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-08-29 16:18:15,648 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,649 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-08-29 16:18:15,650 INFO sqlalchemy.engine.base.Engine {'table_oid': 24663}
2017-08-29 16:18:15,651 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-08-29 16:18:15,652 INFO sqlalchemy.engine.base.Engine {'table_oid': 24663}
2017-08-29 16:18:15,654 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-08-29 16:18:15,654 INFO sqlalchemy.engine.base.Engine {'table': 24663}
2017-08-29 16:18:15,656 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-08-29 16:18:15,657 INFO sqlalchemy.engine.base.Engine {'table_oid': 24663}
2017-08-29 16:18:15,659 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-08-29 16:18:15,659 INFO sqlalchemy.engine.base.Engine {'table_oid': 24663}
2017-08-29 16:18:15,661 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-08-29 16:18:15,661 INFO sqlalchemy.engine.base.Engine {'table_oid': 24663}
2017-08-29 16:18:15,663 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Order"

2017-08-29 16:18:15,663 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,665 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,667 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Order" (
	customer BIGINT,
	wine BIGINT,
	time BIGINT,
	"nrBottles" BIGINT,
	nrcases BIGINT
)


2017-08-29 16:18:15,668 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,669 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,671 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Order_customer" ON "Order" (customer)
2017-08-29 16:18:15,671 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,685 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,687 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-29 16:18:15,696 INFO sqlalchemy.engine.base.Engine INSERT INTO "Order" (customer, wine, time, "nrBottles", nrcases) VALUES (%(customer)s, %(wine)s, %(time)s, %(nrBottles)s, %(nrcases)s)
2017-08-29 16:18:15,697 INFO sqlalchemy.engine.base.Engine ({'nrcases': 2, 'customer': 355, 'nrBottles': 93, 'time': 441, 'wine': 682}, {'nrcases': 2, 'customer': 163, 'nrBottles': 95, 'time': 296, 'wine': 336}, {'nrcases': 2, 'customer': 584, 'nrBottles': 73, 'time': 72, 'wine': 352}, {'nrcases': 2, 'customer': 965, 'nrBottles': 33, 'time': 715, 'wine': 10}, {'nrcases': 5, 'customer': 465, 'nrBottles': 60, 'time': 803, 'wine': 149}, {'nrcases': 1, 'customer': 936, 'nrBottles': 95, 'time': 960, 'wine': 205}, {'nrcases': 5, 'customer': 806, 'nrBottles': 15, 'time': 230, 'wine': 840}, {'nrcases': 7, 'customer': 560, 'nrBottles': 77, 'time': 608, 'wine': 555}  ... displaying 10 of 1000 total bound parameter sets ...  {'nrcases': 8, 'customer': 155, 'nrBottles': 82, 'time': 662, 'wine': 587}, {'nrcases': 4, 'customer': 346, 'nrBottles': 91, 'time': 954, 'wine': 344})
2017-08-29 16:18:15,764 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,767 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 16:18:15,767 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-08-29 16:18:15,771 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,772 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-08-29 16:18:15,774 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,774 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-08-29 16:18:15,776 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 16:18:15,777 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-08-29 16:18:15,779 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-08-29 16:18:15,779 INFO sqlalchemy.engine.base.Engine {'table_name': u'Timestamp'}
2017-08-29 16:18:15,781 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-08-29 16:18:15,782 INFO sqlalchemy.engine.base.Engine {'table_oid': 24655}
2017-08-29 16:18:15,783 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-08-29 16:18:15,784 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,785 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-08-29 16:18:15,786 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,788 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-08-29 16:18:15,788 INFO sqlalchemy.engine.base.Engine {'table_oid': 24655}
2017-08-29 16:18:15,790 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-08-29 16:18:15,790 INFO sqlalchemy.engine.base.Engine {'table_oid': 24655}
2017-08-29 16:18:15,791 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-08-29 16:18:15,792 INFO sqlalchemy.engine.base.Engine {'table': 24655}
2017-08-29 16:18:15,794 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-08-29 16:18:15,794 INFO sqlalchemy.engine.base.Engine {'table_oid': 24655}
2017-08-29 16:18:15,797 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-08-29 16:18:15,797 INFO sqlalchemy.engine.base.Engine {'table_oid': 24655}
2017-08-29 16:18:15,799 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-08-29 16:18:15,800 INFO sqlalchemy.engine.base.Engine {'table_oid': 24655}
2017-08-29 16:18:15,801 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Timestamp"
2017-08-29 16:18:15,802 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,803 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,806 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Timestamp" (
	code BIGINT,
	"timeStamp" TEXT,
	date TEXT,
	year BIGINT
)


2017-08-29 16:18:15,806 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,819 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,826 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Timestamp_code" ON "Timestamp" (code)
2017-08-29 16:18:15,828 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,831 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,834 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-29 16:18:15,845 INFO sqlalchemy.engine.base.Engine INSERT INTO "Timestamp" (code, "timeStamp", date, year) VALUES (%(code)s, %(timeStamp)s, %(date)s, %(year)s)
2017-08-29 16:18:15,846 INFO sqlalchemy.engine.base.Engine ({'date': '1993-08-18 09:46:21', 'timeStamp': '4:20:55.000', 'code': 1, 'year': 1993}, {'date': '2003-06-21 17:26:57', 'timeStamp': '22:02:25.000', 'code': 2, 'year': 2003}, {'date': '1992-05-06 14:33:56', 'timeStamp': '23:52:58.000', 'code': 3, 'year': 1992}, {'date': '1995-12-23 18:54:17', 'timeStamp': '3:41:48.000', 'code': 4, 'year': 1995}, {'date': '2011-07-19 04:41:15', 'timeStamp': '11:03:03.000', 'code': 5, 'year': 2011}, {'date': '2013-09-07 03:32:31', 'timeStamp': '5:07:05.000', 'code': 6, 'year': 2013}, {'date': '2004-11-18 12:13:07', 'timeStamp': '2:18:56.000', 'code': 7, 'year': 2004}, {'date': '1999-07-12 17:42:12', 'timeStamp': '21:39:52.000', 'code': 8, 'year': 1999}  ... displaying 10 of 1000 total bound parameter sets ...  {'date': '2014-12-16 22:49:30', 'timeStamp': '14:39:14.000', 'code': 999, 'year': 2014}, {'date': '2005-12-23 11:17:59', 'timeStamp': '23:46:03.000', 'code': 1000, 'year': 2005})
2017-08-29 16:18:15,907 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,910 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 16:18:15,910 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-08-29 16:18:15,918 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,918 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}
2017-08-29 16:18:15,920 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 16:18:15,920 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}
2017-08-29 16:18:15,922 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 16:18:15,923 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-08-29 16:18:15,924 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-08-29 16:18:15,925 INFO sqlalchemy.engine.base.Engine {'table_name': u'Wine'}
2017-08-29 16:18:15,926 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-08-29 16:18:15,927 INFO sqlalchemy.engine.base.Engine {'table_oid': 24682}
2017-08-29 16:18:15,928 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-08-29 16:18:15,928 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,930 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-08-29 16:18:15,930 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,932 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-08-29 16:18:15,933 INFO sqlalchemy.engine.base.Engine {'table_oid': 24682}
2017-08-29 16:18:15,934 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-08-29 16:18:15,934 INFO sqlalchemy.engine.base.Engine {'table_oid': 24682}
2017-08-29 16:18:15,936 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-08-29 16:18:15,936 INFO sqlalchemy.engine.base.Engine {'table': 24682}
2017-08-29 16:18:15,938 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-08-29 16:18:15,939 INFO sqlalchemy.engine.base.Engine {'table_oid': 24682}
2017-08-29 16:18:15,940 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-08-29 16:18:15,941 INFO sqlalchemy.engine.base.Engine {'table_oid': 24682}
2017-08-29 16:18:15,942 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-08-29 16:18:15,943 INFO sqlalchemy.engine.base.Engine {'table_oid': 24682}
2017-08-29 16:18:15,944 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Wine"
2017-08-29 16:18:15,945 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,947 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,949 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Wine" (
	code BIGINT,
	name TEXT,
	type TEXT,
	vintage TEXT,
	bottleprice TEXT,
	caseprice TEXT,
	class BIGINT
)


2017-08-29 16:18:15,950 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,963 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,970 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Wine_code" ON "Wine" (code)
2017-08-29 16:18:15,970 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 16:18:15,972 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:15,974 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-29 16:18:15,987 INFO sqlalchemy.engine.base.Engine INSERT INTO "Wine" (code, name, type, vintage, bottleprice, caseprice, class) VALUES (%(code)s, %(name)s, %(type)s, %(vintage)s, %(bottleprice)s, %(caseprice)s, %(class)s)
2017-08-29 16:18:15,988 INFO sqlalchemy.engine.base.Engine ({'code': 1, 'name': 'Gan', 'vintage': '1955-01-06 05:45:01', 'bottleprice': '$56.57', 'caseprice': '$40.06', 'type': 'Maroon', 'class': 677}, {'code': 2, 'name': 'Melany', 'vintage': '1906-06-07 01:01:13', 'bottleprice': '$496.73', 'caseprice': '$577.38', 'type': 'Red', 'class': 125}, {'code': 3, 'name': 'Flory', 'vintage': '1959-08-19 01:15:48', 'bottleprice': '$81.45', 'caseprice': '$90.27', 'type': 'Crimson', 'class': 92}, {'code': 4, 'name': 'Laney', 'vintage': '1936-03-12 23:18:42', 'bottleprice': '$483.41', 'caseprice': '$792.87', 'type': 'Fuscia', 'class': 653}, {'code': 5, 'name': 'Kaile', 'vintage': '1986-12-04 01:32:40', 'bottleprice': '$84.52', 'caseprice': '$417.92', 'type': 'Khaki', 'class': 303}, {'code': 6, 'name': 'Byram', 'vintage': '2000-09-13 20:28:20', 'bottleprice': '$26.12', 'caseprice': '$473.33', 'type': 'Mauv', 'class': 785}, {'code': 7, 'name': 'Way', 'vintage': '1935-08-30 21:03:12', 'bottleprice': '$199.17', 'caseprice': '$121.80', 'type': 'Indigo', 'class': 801}, {'code': 8, 'name': 'Pippy', 'vintage': '1993-02-02 06:02:59', 'bottleprice': '$774.33', 'caseprice': '$104.79', 'type': 'Indigo', 'class': 696}  ... displaying 10 of 1000 total bound parameter sets ...  {'code': 999, 'name': 'Niccolo', 'vintage': '1913-07-01 06:15:34', 'bottleprice': '$539.64', 'caseprice': '$757.41', 'type': 'Mauv', 'class': 627}, {'code': 1000, 'name': 'Karoly', 'vintage': '1972-10-06 16:56:54', 'bottleprice': '$941.25', 'caseprice': '$412.93', 'type': 'Orange', 'class': 611})
2017-08-29 16:18:16,053 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 16:18:16,056 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 16:18:16,056 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}

In [12]:
#location2 = 'data/MOCK_DATA-wine.csv'
#df2 = pd.read_csv(location2)
#df.to_sql("Customer", con=engine, if_exists='replace')

In [13]:
#print 2

In [14]:
#df2