In [8]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger

import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

In [18]:
# Conexion con postgres, creamos y nos conectamos a la bd pal tp3.
NOMBRE_BD = "tp3"
engine = alchemy.create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/'+NOMBRE_BD, echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_BD)
    conn.close()
except Exception as e:
    print(str(e))

engine = alchemy.create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/'+"tp3", echo=True)
Base = declarative_base()

2017-08-29 19:35:42,451 INFO sqlalchemy.engine.base.Engine select version()
2017-08-29 19:35:42,453 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:35:42,458 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-08-29 19:35:42,460 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:35:42,464 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-08-29 19:35:42,467 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:35:42,470 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-08-29 19:35:42,472 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:35:42,475 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-08-29 19:35:42,478 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:35:42,481 INFO sqlalchemy.engine.base.Engine commit
2017-08-29 19:35:42,483 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:35:42,486 INFO sqlalchemy.engine.base.Engine create database tp3
2017-08-29 19:35:42,488 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:35:42,492 INFO sqlalchemy.engine.base.Engine ROLLBACK
(psycopg2.ProgrammingError) la base de datos «tp3» ya existe
 [SQL: 'create database tp3']

In [20]:
class Customer(Base):
    __tablename__ = 'Customer'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    address = Column(String)
    phone = Column(String)
    bday = Column(Date)
    gender = Column(String)
    
    #Para formateo de objeto
    def __repr___(self):
        return "<Customer(name='%s', address='%s', phone='%s', gender=%s')>"%(self.name, self.address, self.phone, self.gender)

c:\users\fdman\appdata\local\programs\python\python36-32\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Customer, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'Customer' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [21]:
class Timestamp(Base):
    __tablename__ = 'Timestamp'
    
    code = Column(Integer, primary_key=True)
    timestamp = Column(BigInteger)
    date = Column(Date)
    year = Column(Integer)

In [22]:
class ClaseVino(Base):
    __tablename__ = 'ClaseVino'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    region = Column(String)

In [23]:
class Wine(Base):
    __tablename__ = 'Wine'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    tipo = Column(String)
    vintage = Column(Integer)
    bottlePrice = Column(Float)
    casePrice = Column(Float)
    claseVino = Column(Integer)

In [24]:
class Order(Base):
    __tablename__ = 'Order'
    
    code = Column(Integer, primary_key=True)
    customer = Column(Integer)
    wine = Column(Integer)
    timeStamp = Column(Integer)
    nrBottles = Column(Integer)
    nrCases = Column(Integer)

In [25]:
Base.metadata.create_all(engine)

2017-08-29 19:36:11,542 INFO sqlalchemy.engine.base.Engine select version()
2017-08-29 19:36:11,544 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:11,548 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-08-29 19:36:11,550 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:11,554 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-08-29 19:36:11,556 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:11,560 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-08-29 19:36:11,562 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:11,566 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-08-29 19:36:11,568 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:11,572 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 19:36:11,574 INFO sqlalchemy.engine.base.Engine {'name': 'Customer'}
2017-08-29 19:36:11,596 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 19:36:11,598 INFO sqlalchemy.engine.base.Engine {'name': 'Timestamp'}
2017-08-29 19:36:11,603 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 19:36:11,605 INFO sqlalchemy.engine.base.Engine {'name': 'ClaseVino'}
2017-08-29 19:36:11,609 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 19:36:11,611 INFO sqlalchemy.engine.base.Engine {'name': 'Wine'}
2017-08-29 19:36:11,614 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 19:36:11,616 INFO sqlalchemy.engine.base.Engine {'name': 'Order'}
2017-08-29 19:36:11,621 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Timestamp" (
	code SERIAL NOT NULL,
	timestamp BIGINT,
	date DATE,
	year INTEGER,
	PRIMARY KEY (code)
)


2017-08-29 19:36:11,622 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:11,841 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:11,880 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "ClaseVino" (
	code SERIAL NOT NULL,
	name VARCHAR,
	region VARCHAR,
	PRIMARY KEY (code)
)


2017-08-29 19:36:11,881 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:11,961 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:11,964 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Wine" (
	code SERIAL NOT NULL,
	name VARCHAR,
	tipo VARCHAR,
	vintage INTEGER,
	"bottlePrice" FLOAT,
	"casePrice" FLOAT,
	"claseVino" INTEGER,
	PRIMARY KEY (code)
)


2017-08-29 19:36:11,966 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:12,044 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:12,046 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Order" (
	code SERIAL NOT NULL,
	customer INTEGER,
	wine INTEGER,
	"timeStamp" INTEGER,
	"nrBottles" INTEGER,
	"nrCases" INTEGER,
	PRIMARY KEY (code)
)


2017-08-29 19:36:12,048 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:12,094 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
# Probamos un ejemplo Customer
#cliente = Customer(name='Nicolas3', address='Julio A Roca', phone='41-(625)137-9314', bday='1968-05-20 16:31:20', gender='m')
#from sqlalchemy.orm import sessionmaker
#Session = sessionmaker(bind=engine)
#session = Session()
#session.add(cliente)
#session.commit()
#for instance in session.query(Customer).order_by(Customer.code):
 #   print(instance.name, instance.address)

In [26]:
datos_customer = 'data/MOCK_DATA-customer.csv'
datos_class = 'data/MOCK_DATA-class.csv'
datos_order = 'data/MOCK_DATA-order.csv'
datos_time = 'data/MOCK_DATA-time.csv'
datos_wine = 'data/MOCK_DATA-wine.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep='\t')
df_class = pd.DataFrame.from_csv(datos_class,sep='\t')
df_order = pd.DataFrame.from_csv(datos_order,sep='\t')
df_time = pd.DataFrame.from_csv(datos_time,sep='\t')
df_wine = pd.DataFrame.from_csv(datos_wine,sep='\t')

In [27]:
# transforma los datos en sql, y los inserta.
df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_class.to_sql("ClaseVino", con=engine, if_exists='replace')
df_order.to_sql("Order", con=engine, if_exists='replace')
datos_time.to_sql("Timestamp", con=engine, if_exists='replace')
datos_wine.to_sql("Wine", con=engine, if_exists='replace')

2017-08-29 19:36:45,351 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 19:36:45,354 INFO sqlalchemy.engine.base.Engine {'name': 'Customer'}
2017-08-29 19:36:45,360 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 19:36:45,362 INFO sqlalchemy.engine.base.Engine {'name': 'Customer'}
2017-08-29 19:36:45,366 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 19:36:45,367 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2017-08-29 19:36:45,372 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-08-29 19:36:45,374 INFO sqlalchemy.engine.base.Engine {'table_name': 'Customer'}
2017-08-29 19:36:45,377 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-08-29 19:36:45,379 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-29 19:36:45,400 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-08-29 19:36:45,401 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:45,409 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-08-29 19:36:45,412 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:45,433 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-08-29 19:36:45,435 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-29 19:36:45,453 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-08-29 19:36:45,455 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-29 19:36:45,464 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-08-29 19:36:45,466 INFO sqlalchemy.engine.base.Engine {'table': 16396}
2017-08-29 19:36:45,472 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-08-29 19:36:45,474 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-29 19:36:45,498 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-08-29 19:36:45,500 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-29 19:36:45,504 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-08-29 19:36:45,506 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-29 19:36:45,511 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-08-29 19:36:45,513 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:45,566 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:45,644 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	"name,address,phone,bday,gender" TEXT
)


2017-08-29 19:36:45,646 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:45,682 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:45,685 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Customer_name,address,phone,bday,gender" ON "Customer" ("name,address,phone,bday,gender")
2017-08-29 19:36:45,687 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:45,729 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:45,734 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-29 19:36:45,745 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" ("name,address,phone,bday,gender") VALUES (%(name,address,phone,bday,gender)s)
2017-08-29 19:36:45,748 INFO sqlalchemy.engine.base.Engine ({'name,address,phone,bday,gender': 'Bonny,07324 Montana Way,41-(625)137-9314,1968-05-20 16:31:20,Female'}, {'name,address,phone,bday,gender': 'Brianna,839 Onsgard Court,359-(623)793-6068,1964-03-23 14:32:24,Female'}, {'name,address,phone,bday,gender': 'Shawna,520 Moose Avenue,970-(249)951-8657,1979-08-19 06:18:46,Female'}, {'name,address,phone,bday,gender': 'Allin,6 Harbort Street,996-(945)197-3282,1971-10-28 05:29:53,Male'}, {'name,address,phone,bday,gender': 'Ethelind,22 Dixon Point,63-(878)360-5280,1989-08-01 07:53:37,Female'}, {'name,address,phone,bday,gender': 'Rhianna,0 Ramsey Hill,86-(858)285-9284,1986-04-20 11:34:09,Female'}, {'name,address,phone,bday,gender': 'Julius,0271 Dahle Alley,86-(750)227-5599,1979-01-07 19:31:10,Male'}, {'name,address,phone,bday,gender': 'Thorin,16748 Hansons Drive,351-(237)922-4231,1989-02-10 04:05:22,Male'}  ... displaying 10 of 1000 total bound parameter sets ...  {'name,address,phone,bday,gender': 'Albrecht,3091 Carioca Road,86-(863)911-6146,1969-05-07 15:23:28,Male'}, {'name,address,phone,bday,gender': 'Justis,175 Laurel Place,7-(737)829-9661,2007-10-12 14:12:38,Male'})

2017-08-29 19:36:45,891 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:45,896 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 19:36:45,897 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2017-08-29 19:36:45,904 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 19:36:45,905 INFO sqlalchemy.engine.base.Engine {'name': 'ClaseVino'}
2017-08-29 19:36:45,910 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 19:36:45,912 INFO sqlalchemy.engine.base.Engine {'name': 'ClaseVino'}
2017-08-29 19:36:45,917 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 19:36:45,919 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2017-08-29 19:36:45,923 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-08-29 19:36:45,925 INFO sqlalchemy.engine.base.Engine {'table_name': 'ClaseVino'}
2017-08-29 19:36:45,929 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-08-29 19:36:45,931 INFO sqlalchemy.engine.base.Engine {'table_oid': 16415}
2017-08-29 19:36:45,936 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-08-29 19:36:45,940 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:45,945 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-08-29 19:36:45,947 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:45,951 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-08-29 19:36:45,953 INFO sqlalchemy.engine.base.Engine {'table_oid': 16415}
2017-08-29 19:36:45,957 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-08-29 19:36:45,959 INFO sqlalchemy.engine.base.Engine {'table_oid': 16415}
2017-08-29 19:36:45,962 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-08-29 19:36:45,964 INFO sqlalchemy.engine.base.Engine {'table': 16415}
2017-08-29 19:36:45,969 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-08-29 19:36:45,971 INFO sqlalchemy.engine.base.Engine {'table_oid': 16415}
2017-08-29 19:36:45,977 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-08-29 19:36:45,978 INFO sqlalchemy.engine.base.Engine {'table_oid': 16415}
2017-08-29 19:36:45,982 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-08-29 19:36:45,984 INFO sqlalchemy.engine.base.Engine {'table_oid': 16415}
2017-08-29 19:36:45,987 INFO sqlalchemy.engine.base.Engine
DROP TABLE "ClaseVino"
2017-08-29 19:36:45,989 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:45,994 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:46,005 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "ClaseVino" (
	"code,name,region" TEXT
)


2017-08-29 19:36:46,006 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:46,051 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:46,053 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_ClaseVino_code,name,region" ON "ClaseVino" ("code,name,region")
2017-08-29 19:36:46,055 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:46,096 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:46,100 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-29 19:36:46,114 INFO sqlalchemy.engine.base.Engine INSERT INTO "ClaseVino" ("code,name,region") VALUES (%(code,name,region)s)

2017-08-29 19:36:46,116 INFO sqlalchemy.engine.base.Engine ({'code,name,region': '1,"Duck, comb",Guyana'}, {'code,name,region': '2,Canadian river otter,Norway'}, {'code,name,region': '3,"Squirrel, palm",China'}, {'code,name,region': '4,Bee-eater (unidentified),Russia'}, {'code,name,region': '5,European badger,Greece'}, {'code,name,region': '6,"Colobus, white-mantled",Poland'}, {'code,name,region': '7,Egyptian viper,United States'}, {'code,name,region': '8,Arctic lemming,Bolivia'}  ... displaying 10 of 1000 total bound parameter sets ...  {'code,name,region': '999,"Goldeneye, barrows",Vietnam'}, {'code,name,region': '1000,Great white pelican,Indonesia'})
2017-08-29 19:36:46,244 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:46,247 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 19:36:46,249 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2017-08-29 19:36:46,255 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 19:36:46,258 INFO sqlalchemy.engine.base.Engine {'name': 'Order'}
2017-08-29 19:36:46,261 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 19:36:46,264 INFO sqlalchemy.engine.base.Engine {'name': 'Order'}
2017-08-29 19:36:46,268 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 19:36:46,271 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2017-08-29 19:36:46,278 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-08-29 19:36:46,280 INFO sqlalchemy.engine.base.Engine {'table_name': 'Order'}
2017-08-29 19:36:46,284 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-08-29 19:36:46,286 INFO sqlalchemy.engine.base.Engine {'table_oid': 16437}
2017-08-29 19:36:46,290 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-08-29 19:36:46,292 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:46,297 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-08-29 19:36:46,299 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:46,305 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-08-29 19:36:46,308 INFO sqlalchemy.engine.base.Engine {'table_oid': 16437}
2017-08-29 19:36:46,313 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-08-29 19:36:46,316 INFO sqlalchemy.engine.base.Engine {'table_oid': 16437}
2017-08-29 19:36:46,318 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-08-29 19:36:46,320 INFO sqlalchemy.engine.base.Engine {'table': 16437}
2017-08-29 19:36:46,324 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-08-29 19:36:46,326 INFO sqlalchemy.engine.base.Engine {'table_oid': 16437}
2017-08-29 19:36:46,331 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-08-29 19:36:46,334 INFO sqlalchemy.engine.base.Engine {'table_oid': 16437}
2017-08-29 19:36:46,339 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-08-29 19:36:46,341 INFO sqlalchemy.engine.base.Engine {'table_oid': 16437}
2017-08-29 19:36:46,345 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Order"
2017-08-29 19:36:46,347 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:46,350 INFO sqlalchemy.engine.base.Engine COMMIT

2017-08-29 19:36:46,358 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Order" (
	"customer,wine,time,nrBottles,nrcases" TEXT
)


2017-08-29 19:36:46,360 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:46,460 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:46,463 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Order_customer,wine,time,nrBottles,nrcases" ON "Order" ("customer,wine,time,nrBottles,nrcases")
2017-08-29 19:36:46,465 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 19:36:46,501 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:46,506 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-29 19:36:46,522 INFO sqlalchemy.engine.base.Engine INSERT INTO "Order" ("customer,wine,time,nrBottles,nrcases") VALUES (%(customer,wine,time,nrBottles,nrcases)s)
2017-08-29 19:36:46,524 INFO sqlalchemy.engine.base.Engine ({'customer,wine,time,nrBottles,nrcases': '355,682,441,93,2'}, {'customer,wine,time,nrBottles,nrcases': '163,336,296,95,2'}, {'customer,wine,time,nrBottles,nrcases': '584,352,72,73,2'}, {'customer,wine,time,nrBottles,nrcases': '965,10,715,33,2'}, {'customer,wine,time,nrBottles,nrcases': '465,149,803,60,5'}, {'customer,wine,time,nrBottles,nrcases': '936,205,960,95,1'}, {'customer,wine,time,nrBottles,nrcases': '806,840,230,15,5'}, {'customer,wine,time,nrBottles,nrcases': '560,555,608,77,7'}  ... displaying 10 of 1000 total bound parameter sets ...  {'customer,wine,time,nrBottles,nrcases': '155,587,662,82,8'}, {'customer,wine,time,nrBottles,nrcases': '346,344,954,91,4'})
2017-08-29 19:36:46,646 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 19:36:46,649 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-29 19:36:46,651 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}

AttributeError: 'str' object has no attribute 'to_sql'

In [ ]:
#location2 = 'data/MOCK_DATA-wine.csv'
#df2 = pd.read_csv(location2)
#df.to_sql("Customer", con=engine, if_exists='replace')

In [ ]:
#print 2

In [ ]:
#df2