In [1]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger

import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

In [2]:
# Conexion con postgres, creamos y nos conectamos a la bd pal tp3.
NOMBRE_BD = "tp32"
engine = alchemy.create_engine('postgresql+psycopg2://gaston:gastonm1@localhost:5432', echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_BD)
    conn.close()
except Exception as e:
    print str(e)
engine = alchemy.create_engine('postgresql+psycopg2://gaston:gastonm1@localhost:5432/'+NOMBRE_BD, echo=True)
Base = declarative_base()

(psycopg2.OperationalError) FATAL:  database "gaston" does not exist

In [3]:
class Customer(Base):
    __tablename__ = 'Customer'
    
    IDCust = Column(Integer, primary_key=True)
    Name = Column(String)
    Surname = Column(String)
    Address = Column(String)
    City = Column(String)
    Phone = Column(String)
    Budget = Column(Float)
    Office = Column(String)

In [4]:
class Estate(Base):
    __tablename__ = 'Estate'
    
    IDEstate = Column(Integer, primary_key=True)
    Category = Column(String)
    Area = Column(String)
    City = Column(String)
    Province = Column(String)
    Rooms = Column(Integer)
    Bedrooms = Column(Integer)
    Garage = Column(String)
    Meters = Column(Integer)

In [5]:
class Visit(Base):
    __tablename__ = 'Visit'
    
    IDVisit = Column(Integer, primary_key=True)
    Date = Column(Date)
    Duration = Column(Integer)

In [6]:
class Sale(Base):
    __tablename__ = 'Sale'
    
    IDSale = Column(Integer, primary_key=True)
    Date = Column(Date)
    AgreedPrice = Column(Float)
    Price = Column(Float)
    Status = Column(String)
    Time = Column(Integer)

In [7]:
class Agenda(Base):
    __tablename__ = 'Agenda'
    
    IDAgenda = Column(Integer, primary_key=True)
    Data = Column(String)
    Hour = Column(String)
    ClienteName = Column(String)

In [8]:
class Inmobiliaria(Base):
    __tablename__ = 'Inmobiliaria'
    
    ID = Column(Integer, primary_key=True)
    IDEstate = Column(Integer)
    IDCust = Column(Integer)
    IDVisit = Column(Integer)
    IDSale = Column(Integer)
    IDAgenda = Column(Integer)
    Date = Column(Date)

In [9]:
Base.metadata.create_all(engine)

2017-08-29 10:04:44,879 INFO sqlalchemy.engine.base.Engine select version()
2017-08-29 10:04:44,880 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 10:04:44,882 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-08-29 10:04:44,883 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 10:04:44,885 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-08-29 10:04:44,885 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 10:04:44,887 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-08-29 10:04:44,887 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 10:04:44,889 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-08-29 10:04:44,890 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 10:04:44,891 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 10:04:44,892 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-08-29 10:04:44,894 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 10:04:44,896 INFO sqlalchemy.engine.base.Engine {'name': u'Inmobiliaria'}
2017-08-29 10:04:44,897 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 10:04:44,898 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-08-29 10:04:44,900 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 10:04:44,901 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-08-29 10:04:44,903 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 10:04:44,903 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-08-29 10:04:44,905 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-29 10:04:44,906 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}
2017-08-29 10:04:44,908 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	"IDCust" SERIAL NOT NULL,
	"Name" VARCHAR,
	"Surname" VARCHAR,
	"Address" VARCHAR,
	"City" VARCHAR,
	"Phone" VARCHAR,
	"Budget" FLOAT,
	"Office" VARCHAR,
	PRIMARY KEY ("IDCust")
)


2017-08-29 10:04:44,909 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 10:04:44,932 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 10:04:44,935 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Inmobiliaria" (
	"ID" SERIAL NOT NULL,
	"IDEstate" INTEGER,
	"IDCust" INTEGER,
	"IDVisit" INTEGER,
	"IDSale" INTEGER,
	"IDAgenda" INTEGER,
	"Date" DATE,
	PRIMARY KEY ("ID")
)


2017-08-29 10:04:44,935 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 10:04:44,938 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 10:04:44,946 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Estate" (
	"IDEstate" SERIAL NOT NULL,
	"Category" VARCHAR,
	"Area" VARCHAR,
	"City" VARCHAR,
	"Province" VARCHAR,
	"Rooms" INTEGER,
	"Bedrooms" INTEGER,
	"Garage" VARCHAR,
	"Meters" INTEGER,
	PRIMARY KEY ("IDEstate")
)


2017-08-29 10:04:44,947 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 10:04:44,964 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 10:04:44,967 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Visit" (
	"IDVisit" SERIAL NOT NULL,
	"Date" DATE,
	"Duration" INTEGER,
	PRIMARY KEY ("IDVisit")
)


2017-08-29 10:04:44,968 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 10:04:44,972 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 10:04:44,974 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Sale" (
	"IDSale" SERIAL NOT NULL,
	"Date" DATE,
	"AgreedPrice" FLOAT,
	"Price" FLOAT,
	"Status" VARCHAR,
	"Time" INTEGER,
	PRIMARY KEY ("IDSale")
)


2017-08-29 10:04:44,974 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 10:04:44,996 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-29 10:04:44,999 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Agenda" (
	"IDAgenda" SERIAL NOT NULL,
	"Data" VARCHAR,
	"Hour" VARCHAR,
	"ClienteName" VARCHAR,
	PRIMARY KEY ("IDAgenda")
)


2017-08-29 10:04:45,000 INFO sqlalchemy.engine.base.Engine {}
2017-08-29 10:04:45,009 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
# Probamos un ejemplo Customer
#cliente = Customer(name='Nicolas3', address='Julio A Roca', phone='41-(625)137-9314', bday='1968-05-20 16:31:20', gender='m')
#from sqlalchemy.orm import sessionmaker
#Session = sessionmaker(bind=engine)
#session = Session()
#session.add(cliente)
#session.commit()
#for instance in session.query(Customer).order_by(Customer.code):
 #   print(instance.name, instance.address)

In [11]:
""""datos_customer = 'data/MOCK_DATA-customer.csv'
datos_class = 'data/MOCK_DATA-class.csv'
datos_order = 'data/MOCK_DATA-order.csv'
datos_time = 'data/MOCK_DATA-time.csv'
datos_wine = 'data/MOCK_DATA-wine.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep='\t')
df_class = pd.DataFrame.from_csv(datos_class,sep='\t')
df_order = pd.DataFrame.from_csv(datos_order,sep='\t')
df_time = pd.DataFrame.from_csv(datos_time,sep='\t')
df_wine = pd.DataFrame.from_csv(datos_wine,sep='\t')""""

SyntaxError: EOL while scanning string literal (<ipython-input-11-d01e9e119954>, line 11)

In [ ]:
# transforma los datos en sql, y los inserta.
""""df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_class.to_sql("ClaseVino", con=engine, if_exists='replace')
df_order.to_sql("Order", con=engine, if_exists='replace')
df_time.to_sql("Timestamp", con=engine, if_exists='replace')
df_wine.to_sql("Wine", con=engine, if_exists='replace')""""

In [ ]:
#location2 = 'data/MOCK_DATA-wine.csv'
#df2 = pd.read_csv(location2)
#df.to_sql("Customer", con=engine, if_exists='replace')

In [ ]:
#print 2

In [ ]:
#df2