In [11]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger

import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

In [12]:
# Conexion con postgres, creamos y nos conectamos a la bd pal tp3.
NOMBRE_BD = "tp3"
engine = alchemy.create_engine('postgresql+psycopg2://gaston:gastonm1@localhost:5432', echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_BD)
    conn.close()
except Exception as e:
    print str(e)
engine = alchemy.create_engine('postgresql+psycopg2://gaston:gastonm1@localhost:5432/'+NOMBRE_BD, echo=True)
Base = declarative_base()

(psycopg2.OperationalError) FATAL:  database "gaston" does not exist

In [13]:
class Customer(Base):
    __tablename__ = 'Customer'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    address = Column(String)
    phone = Column(String)
    bday = Column(Date)
    gender = Column(String)
    
    #Para formateo de objeto
    def __repr___(self):
        return "<Customer(name='%s', address='%s', phone='%s', gender=%s')>"%(self.name, self.address, self.phone, self.gender)

In [14]:
class Timestamp(Base):
    __tablename__ = 'Timestamp'
    
    code = Column(Integer, primary_key=True)
    timestamp = Column(BigInteger)
    date = Column(Date)
    year = Column(Integer)

In [15]:
class ClaseVino(Base):
    __tablename__ = 'ClaseVino'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    region = Column(String)

In [16]:
class Wine(Base):
    __tablename__ = 'Wine'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    tipo = Column(String)
    vintage = Column(Integer)
    bottlePrice = Column(Float)
    casePrice = Column(Float)
    claseVino = Column(Integer)

In [17]:
class Order(Base):
    __tablename__ = 'Order'
    
    code = Column(Integer, primary_key=True)
    customer = Column(Integer)
    wine = Column(Integer)
    timeStamp = Column(Integer)
    nrBottles = Column(Integer)
    nrCases = Column(Integer)

In [18]:
Base.metadata.create_all(engine)

2017-08-28 11:45:43,756 INFO sqlalchemy.engine.base.Engine select version()
2017-08-28 11:45:43,757 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 11:45:43,758 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-08-28 11:45:43,759 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 11:45:43,761 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-08-28 11:45:43,763 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 11:45:43,766 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-08-28 11:45:43,767 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 11:45:43,768 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-08-28 11:45:43,769 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 11:45:43,770 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-28 11:45:43,771 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-08-28 11:45:43,773 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-28 11:45:43,774 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-08-28 11:45:43,776 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-28 11:45:43,776 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-08-28 11:45:43,778 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-28 11:45:43,779 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-08-28 11:45:43,780 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-28 11:45:43,780 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}

In [19]:
# Probamos un ejemplo Customer
#cliente = Customer(name='Nicolas3', address='Julio A Roca', phone='41-(625)137-9314', bday='1968-05-20 16:31:20', gender='m')
#from sqlalchemy.orm import sessionmaker
#Session = sessionmaker(bind=engine)
#session = Session()
#session.add(cliente)
#session.commit()
#for instance in session.query(Customer).order_by(Customer.code):
 #   print(instance.name, instance.address)

In [20]:
datos_customer = 'data/MOCK_DATA-customer.csv'
datos_class = 'data/MOCK_DATA-class.csv'
datos_order = 'data/MOCK_DATA-order.csv'
datos_time = 'data/MOCK_DATA-time.csv'
datos_wine = 'data/MOCK_DATA-wine.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep='\t')
df_class = pd.DataFrame.from_csv(datos_class,sep='\t')
df_order = pd.DataFrame.from_csv(datos_order,sep='\t')
df_time = pd.DataFrame.from_csv(datos_time,sep='\t')
df_wine = pd.DataFrame.from_csv(datos_wine,sep='\t')

In [21]:
# transforma los datos en sql, y los inserta.
df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_class.to_sql("ClaseVino", con=engine, if_exists='replace')
df_order.to_sql("Order", con=engine, if_exists='replace')
datos_time.to_sql("Timestamp", con=engine, if_exists='replace')
datos_wine.to_sql("Wine", con=engine, if_exists='replace')

2017-08-28 11:45:43,835 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-28 11:45:43,836 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-08-28 11:45:43,837 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-28 11:45:43,838 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-08-28 11:45:43,839 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-28 11:45:43,840 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-08-28 11:45:43,842 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-08-28 11:45:43,842 INFO sqlalchemy.engine.base.Engine {'table_name': u'Customer'}
2017-08-28 11:45:43,844 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-08-28 11:45:43,846 INFO sqlalchemy.engine.base.Engine {'table_oid': 16446}
2017-08-28 11:45:43,849 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-08-28 11:45:43,850 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 11:45:43,852 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-08-28 11:45:43,853 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 11:45:43,855 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-08-28 11:45:43,856 INFO sqlalchemy.engine.base.Engine {'table_oid': 16446}
2017-08-28 11:45:43,858 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-08-28 11:45:43,859 INFO sqlalchemy.engine.base.Engine {'table_oid': 16446}
2017-08-28 11:45:43,861 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-08-28 11:45:43,862 INFO sqlalchemy.engine.base.Engine {'table': 16446}
2017-08-28 11:45:43,864 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-08-28 11:45:43,865 INFO sqlalchemy.engine.base.Engine {'table_oid': 16446}
2017-08-28 11:45:43,868 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-08-28 11:45:43,869 INFO sqlalchemy.engine.base.Engine {'table_oid': 16446}
2017-08-28 11:45:43,870 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-08-28 11:45:43,871 INFO sqlalchemy.engine.base.Engine {'table_oid': 16446}
2017-08-28 11:45:43,872 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-08-28 11:45:43,873 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 11:45:43,874 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-28 11:45:43,877 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	"name,address,phone,bday,gender" TEXT
)


2017-08-28 11:45:43,878 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 11:45:43,893 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-28 11:45:43,901 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Customer_name,address,phone,bday,gender" ON "Customer" ("name,address,phone,bday,gender")
2017-08-28 11:45:43,902 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 11:45:43,905 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-28 11:45:43,907 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-28 11:45:43,913 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" ("name,address,phone,bday,gender") VALUES (%(name,address,phone,bday,gender)s)
2017-08-28 11:45:43,915 INFO sqlalchemy.engine.base.Engine ({'name,address,phone,bday,gender': 'Bonny,07324 Montana Way,41-(625)137-9314,1968-05-20 16:31:20,Female'}, {'name,address,phone,bday,gender': 'Brianna,839 Onsgard Court,359-(623)793-6068,1964-03-23 14:32:24,Female'}, {'name,address,phone,bday,gender': 'Shawna,520 Moose Avenue,970-(249)951-8657,1979-08-19 06:18:46,Female'}, {'name,address,phone,bday,gender': 'Allin,6 Harbort Street,996-(945)197-3282,1971-10-28 05:29:53,Male'}, {'name,address,phone,bday,gender': 'Ethelind,22 Dixon Point,63-(878)360-5280,1989-08-01 07:53:37,Female'}, {'name,address,phone,bday,gender': 'Rhianna,0 Ramsey Hill,86-(858)285-9284,1986-04-20 11:34:09,Female'}, {'name,address,phone,bday,gender': 'Julius,0271 Dahle Alley,86-(750)227-5599,1979-01-07 19:31:10,Male'}, {'name,address,phone,bday,gender': 'Thorin,16748 Hansons Drive,351-(237)922-4231,1989-02-10 04:05:22,Male'}  ... displaying 10 of 1000 total bound parameter sets ...  {'name,address,phone,bday,gender': 'Albrecht,3091 Carioca Road,86-(863)911-6146,1969-05-07 15:23:28,Male'}, {'name,address,phone,bday,gender': 'Justis,175 Laurel Place,7-(737)829-9661,2007-10-12 14:12:38,Male'})

2017-08-28 11:45:43,987 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-28 11:45:43,997 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-28 11:45:43,998 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}

In [22]:
#location2 = 'data/MOCK_DATA-wine.csv'
#df2 = pd.read_csv(location2)
#df.to_sql("Customer", con=engine, if_exists='replace')

In [23]:
#print 2

In [24]:
#df2