In [1]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger
import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

# Conexion con la base de datos tp3

In [2]:
NOMBRE_DB = "tp3"
USUARIO_DB = 'postgres' #gaston
PASSWORD_DB = 'postgres' #gastonm1
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB,'')

engine = alchemy.create_engine(url_db, echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_DB)
    conn.close()
except Exception as e:
    print str(e)
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)
engine = alchemy.create_engine(url_db, echo=True)

2017-09-05 12:49:54,865 INFO sqlalchemy.engine.base.Engine select version()
2017-09-05 12:49:54,866 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:54,909 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-05 12:49:54,911 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:54,923 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-05 12:49:54,924 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:54,952 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-05 12:49:54,953 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:54,957 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-05 12:49:54,960 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:54,963 INFO sqlalchemy.engine.base.Engine commit
2017-09-05 12:49:54,964 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:54,969 INFO sqlalchemy.engine.base.Engine create database tp3
2017-09-05 12:49:54,970 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:54,976 INFO sqlalchemy.engine.base.Engine ROLLBACK
(psycopg2.ProgrammingError) database "tp3" already exists
 [SQL: 'create database tp3']

# Definicion de Tablas
![Vineria](diagramas/Vineria.png)

In [3]:
Base = declarative_base()
class Customer(Base):
    __tablename__ = 'Customer'    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    address = Column(String)
    phone = Column(String)
    bday = Column(Date)
    gender = Column(String)

class Timestamp(Base):
    __tablename__ = 'Timestamp'    
    code = Column(Integer, primary_key=True)
    timestamp = Column(BigInteger)
    date = Column(Date)
    year = Column(Integer)
    
class ClaseVino(Base):
    __tablename__ = 'ClaseVino'    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    region = Column(String)

class Wine(Base):
    __tablename__ = 'Wine'    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    tipo = Column(String)
    vintage = Column(Integer)
    bottlePrice = Column(Float)
    casePrice = Column(Float)
    claseVino = Column(Integer)

class Order(Base):
    __tablename__ = 'Order'    
    code = Column(Integer, primary_key=True)
    customer = Column(Integer)
    wine = Column(Integer)
    timeStamp = Column(Integer)
    nrBottles = Column(Integer)
    nrCases = Column(Integer)

In [4]:
Base.metadata.create_all(engine)

2017-09-05 12:49:55,729 INFO sqlalchemy.engine.base.Engine select version()
2017-09-05 12:49:55,735 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:55,761 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-05 12:49:55,762 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:55,778 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-05 12:49:55,780 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:55,830 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-05 12:49:55,832 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:55,834 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-05 12:49:55,836 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:55,839 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:55,841 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-05 12:49:55,892 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:55,898 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-09-05 12:49:55,902 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:55,905 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-09-05 12:49:55,911 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:55,915 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-09-05 12:49:55,918 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:55,920 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}

 # Carga de datos
 ### Mocks -> [Mockaroo](https://www.mockaroo.com/)

In [10]:
datos_customer = 'data/MOCK_DATA-customer.csv'
datos_class = 'data/MOCK_DATA-class.csv'
datos_order = 'data/MOCK_DATA-order.csv'
datos_time = 'data/MOCK_DATA-time.csv'
datos_wine = 'data/MOCK_DATA-wine.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep=',')
df_class = pd.DataFrame.from_csv(datos_class,sep=',')
df_order = pd.DataFrame.from_csv(datos_order,sep=',')
df_time = pd.DataFrame.from_csv(datos_time,sep=',')
df_wine = pd.DataFrame.from_csv(datos_wine,sep=',')

In [6]:
df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_class.to_sql("ClaseVino", con=engine, if_exists='replace')
df_order.to_sql("Order", con=engine, if_exists='replace')
df_time.to_sql("Timestamp", con=engine, if_exists='replace')
df_wine.to_sql("Wine", con=engine, if_exists='replace')

2017-09-05 12:49:56,368 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:56,371 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-05 12:49:56,384 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:56,388 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-05 12:49:56,392 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-05 12:49:56,394 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-05 12:49:56,464 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-05 12:49:56,465 INFO sqlalchemy.engine.base.Engine {'table_name': u'Customer'}
2017-09-05 12:49:56,504 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-05 12:49:56,508 INFO sqlalchemy.engine.base.Engine {'table_oid': 41044}
2017-09-05 12:49:56,682 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-05 12:49:56,685 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:56,697 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-05 12:49:56,698 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:56,726 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-05 12:49:56,728 INFO sqlalchemy.engine.base.Engine {'table_oid': 41044}
2017-09-05 12:49:56,762 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-05 12:49:56,763 INFO sqlalchemy.engine.base.Engine {'table_oid': 41044}
2017-09-05 12:49:56,803 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-05 12:49:56,805 INFO sqlalchemy.engine.base.Engine {'table': 41044}
2017-09-05 12:49:56,809 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-05 12:49:56,810 INFO sqlalchemy.engine.base.Engine {'table_oid': 41044}
2017-09-05 12:49:56,849 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-05 12:49:56,852 INFO sqlalchemy.engine.base.Engine {'table_oid': 41044}
2017-09-05 12:49:56,855 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-05 12:49:56,856 INFO sqlalchemy.engine.base.Engine {'table_oid': 41044}
2017-09-05 12:49:56,858 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-09-05 12:49:56,860 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:57,013 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:57,038 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	name TEXT,
	address TEXT,
	phone TEXT,
	bday TEXT,
	gender TEXT
)


2017-09-05 12:49:57,040 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:57,256 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:57,317 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Customer_name" ON "Customer" (name)
2017-09-05 12:49:57,318 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:57,356 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:57,388 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-05 12:49:57,411 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" (name, address, phone, bday, gender) VALUES (%(name)s, %(address)s, %(phone)s, %(bday)s, %(gender)s)
2017-09-05 12:49:57,414 INFO sqlalchemy.engine.base.Engine ({'bday': '1968-05-20 16:31:20', 'gender': 'Female', 'name': 'Bonny', 'phone': '41-(625)137-9314', 'address': '07324 Montana Way'}, {'bday': '1964-03-23 14:32:24', 'gender': 'Female', 'name': 'Brianna', 'phone': '359-(623)793-6068', 'address': '839 Onsgard Court'}, {'bday': '1979-08-19 06:18:46', 'gender': 'Female', 'name': 'Shawna', 'phone': '970-(249)951-8657', 'address': '520 Moose Avenue'}, {'bday': '1971-10-28 05:29:53', 'gender': 'Male', 'name': 'Allin', 'phone': '996-(945)197-3282', 'address': '6 Harbort Street'}, {'bday': '1989-08-01 07:53:37', 'gender': 'Female', 'name': 'Ethelind', 'phone': '63-(878)360-5280', 'address': '22 Dixon Point'}, {'bday': '1986-04-20 11:34:09', 'gender': 'Female', 'name': 'Rhianna', 'phone': '86-(858)285-9284', 'address': '0 Ramsey Hill'}, {'bday': '1979-01-07 19:31:10', 'gender': 'Male', 'name': 'Julius', 'phone': '86-(750)227-5599', 'address': '0271 Dahle Alley'}, {'bday': '1989-02-10 04:05:22', 'gender': 'Male', 'name': 'Thorin', 'phone': '351-(237)922-4231', 'address': '16748 Hansons Drive'}  ... displaying 10 of 1000 total bound parameter sets ...  {'bday': '1969-05-07 15:23:28', 'gender': 'Male', 'name': 'Albrecht', 'phone': '86-(863)911-6146', 'address': '3091 Carioca Road'}, {'bday': '2007-10-12 14:12:38', 'gender': 'Male', 'name': 'Justis', 'phone': '7-(737)829-9661', 'address': '175 Laurel Place'})

2017-09-05 12:49:57,626 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:57,642 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-05 12:49:57,644 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-05 12:49:57,669 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:57,670 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-09-05 12:49:57,674 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:57,675 INFO sqlalchemy.engine.base.Engine {'name': u'ClaseVino'}
2017-09-05 12:49:57,680 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-05 12:49:57,683 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-05 12:49:57,689 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-05 12:49:57,690 INFO sqlalchemy.engine.base.Engine {'table_name': u'ClaseVino'}
2017-09-05 12:49:57,696 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-05 12:49:57,697 INFO sqlalchemy.engine.base.Engine {'table_oid': 41051}
2017-09-05 12:49:57,699 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-05 12:49:57,701 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:57,704 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-05 12:49:57,705 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:57,709 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-05 12:49:57,711 INFO sqlalchemy.engine.base.Engine {'table_oid': 41051}
2017-09-05 12:49:57,718 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-05 12:49:57,719 INFO sqlalchemy.engine.base.Engine {'table_oid': 41051}
2017-09-05 12:49:57,722 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-05 12:49:57,723 INFO sqlalchemy.engine.base.Engine {'table': 41051}
2017-09-05 12:49:57,726 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-05 12:49:57,728 INFO sqlalchemy.engine.base.Engine {'table_oid': 41051}
2017-09-05 12:49:57,735 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-05 12:49:57,736 INFO sqlalchemy.engine.base.Engine {'table_oid': 41051}
2017-09-05 12:49:57,738 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-05 12:49:57,740 INFO sqlalchemy.engine.base.Engine {'table_oid': 41051}
2017-09-05 12:49:57,747 INFO sqlalchemy.engine.base.Engine
DROP TABLE "ClaseVino"
2017-09-05 12:49:57,749 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:57,758 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:57,766 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "ClaseVino" (
	code BIGINT,
	name TEXT,
	region TEXT
)


2017-09-05 12:49:57,767 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:57,802 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:57,820 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_ClaseVino_code" ON "ClaseVino" (code)
2017-09-05 12:49:57,822 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:57,859 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:57,877 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-05 12:49:57,905 INFO sqlalchemy.engine.base.Engine INSERT INTO "ClaseVino" (code, name, region) VALUES (%(code)s, %(name)s, %(region)s)

2017-09-05 12:49:57,907 INFO sqlalchemy.engine.base.Engine ({'region': 'Guyana', 'code': 1, 'name': 'Duck, comb'}, {'region': 'Norway', 'code': 2, 'name': 'Canadian river otter'}, {'region': 'China', 'code': 3, 'name': 'Squirrel, palm'}, {'region': 'Russia', 'code': 4, 'name': 'Bee-eater (unidentified)'}, {'region': 'Greece', 'code': 5, 'name': 'European badger'}, {'region': 'Poland', 'code': 6, 'name': 'Colobus, white-mantled'}, {'region': 'United States', 'code': 7, 'name': 'Egyptian viper'}, {'region': 'Bolivia', 'code': 8, 'name': 'Arctic lemming'}  ... displaying 10 of 1000 total bound parameter sets ...  {'region': 'Vietnam', 'code': 999, 'name': 'Goldeneye, barrows'}, {'region': 'Indonesia', 'code': 1000, 'name': 'Great white pelican'})
2017-09-05 12:49:58,169 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:58,234 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-05 12:49:58,235 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-05 12:49:58,244 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:58,246 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-09-05 12:49:58,250 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:58,251 INFO sqlalchemy.engine.base.Engine {'name': u'Order'}
2017-09-05 12:49:58,258 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-05 12:49:58,260 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-05 12:49:58,263 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-05 12:49:58,264 INFO sqlalchemy.engine.base.Engine {'table_name': u'Order'}
2017-09-05 12:49:58,269 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-05 12:49:58,275 INFO sqlalchemy.engine.base.Engine {'table_oid': 41058}
2017-09-05 12:49:58,281 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-05 12:49:58,282 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:58,285 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-05 12:49:58,287 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:58,291 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-05 12:49:58,292 INFO sqlalchemy.engine.base.Engine {'table_oid': 41058}
2017-09-05 12:49:58,297 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-05 12:49:58,298 INFO sqlalchemy.engine.base.Engine {'table_oid': 41058}
2017-09-05 12:49:58,301 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-05 12:49:58,302 INFO sqlalchemy.engine.base.Engine {'table': 41058}
2017-09-05 12:49:58,305 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-05 12:49:58,306 INFO sqlalchemy.engine.base.Engine {'table_oid': 41058}
2017-09-05 12:49:58,312 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-05 12:49:58,314 INFO sqlalchemy.engine.base.Engine {'table_oid': 41058}
2017-09-05 12:49:58,317 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-05 12:49:58,318 INFO sqlalchemy.engine.base.Engine {'table_oid': 41058}
2017-09-05 12:49:58,321 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Order"

2017-09-05 12:49:58,322 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:58,334 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:58,347 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Order" (
	customer BIGINT,
	wine BIGINT,
	time BIGINT,
	"nrBottles" BIGINT,
	nrcases BIGINT
)


2017-09-05 12:49:58,348 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:58,350 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:58,356 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Order_customer" ON "Order" (customer)
2017-09-05 12:49:58,357 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:58,403 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:58,424 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-05 12:49:58,452 INFO sqlalchemy.engine.base.Engine INSERT INTO "Order" (customer, wine, time, "nrBottles", nrcases) VALUES (%(customer)s, %(wine)s, %(time)s, %(nrBottles)s, %(nrcases)s)
2017-09-05 12:49:58,457 INFO sqlalchemy.engine.base.Engine ({'customer': 355, 'nrcases': 2, 'nrBottles': 93, 'time': 441, 'wine': 682}, {'customer': 163, 'nrcases': 2, 'nrBottles': 95, 'time': 296, 'wine': 336}, {'customer': 584, 'nrcases': 2, 'nrBottles': 73, 'time': 72, 'wine': 352}, {'customer': 965, 'nrcases': 2, 'nrBottles': 33, 'time': 715, 'wine': 10}, {'customer': 465, 'nrcases': 5, 'nrBottles': 60, 'time': 803, 'wine': 149}, {'customer': 936, 'nrcases': 1, 'nrBottles': 95, 'time': 960, 'wine': 205}, {'customer': 806, 'nrcases': 5, 'nrBottles': 15, 'time': 230, 'wine': 840}, {'customer': 560, 'nrcases': 7, 'nrBottles': 77, 'time': 608, 'wine': 555}  ... displaying 10 of 1000 total bound parameter sets ...  {'customer': 155, 'nrcases': 8, 'nrBottles': 82, 'time': 662, 'wine': 587}, {'customer': 346, 'nrcases': 4, 'nrBottles': 91, 'time': 954, 'wine': 344})
2017-09-05 12:49:58,819 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:58,859 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-05 12:49:58,860 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-05 12:49:58,895 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:58,901 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-09-05 12:49:58,906 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:58,908 INFO sqlalchemy.engine.base.Engine {'name': u'Timestamp'}
2017-09-05 12:49:58,916 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-05 12:49:58,917 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-05 12:49:58,927 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-05 12:49:58,928 INFO sqlalchemy.engine.base.Engine {'table_name': u'Timestamp'}
2017-09-05 12:49:58,932 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-05 12:49:58,935 INFO sqlalchemy.engine.base.Engine {'table_oid': 41062}
2017-09-05 12:49:58,941 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-05 12:49:58,942 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:58,944 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-05 12:49:58,946 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:58,949 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-05 12:49:58,951 INFO sqlalchemy.engine.base.Engine {'table_oid': 41062}
2017-09-05 12:49:58,955 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-05 12:49:58,959 INFO sqlalchemy.engine.base.Engine {'table_oid': 41062}
2017-09-05 12:49:58,963 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-05 12:49:58,964 INFO sqlalchemy.engine.base.Engine {'table': 41062}
2017-09-05 12:49:58,967 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-05 12:49:58,968 INFO sqlalchemy.engine.base.Engine {'table_oid': 41062}
2017-09-05 12:49:58,972 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-05 12:49:58,974 INFO sqlalchemy.engine.base.Engine {'table_oid': 41062}
2017-09-05 12:49:58,976 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-05 12:49:58,978 INFO sqlalchemy.engine.base.Engine {'table_oid': 41062}
2017-09-05 12:49:58,980 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Timestamp"
2017-09-05 12:49:58,981 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:58,983 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:58,994 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Timestamp" (
	code BIGINT,
	"timeStamp" TEXT,
	date TEXT,
	year BIGINT
)


2017-09-05 12:49:58,995 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:59,037 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:59,048 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Timestamp_code" ON "Timestamp" (code)
2017-09-05 12:49:59,050 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:59,082 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:59,093 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-05 12:49:59,112 INFO sqlalchemy.engine.base.Engine INSERT INTO "Timestamp" (code, "timeStamp", date, year) VALUES (%(code)s, %(timeStamp)s, %(date)s, %(year)s)
2017-09-05 12:49:59,114 INFO sqlalchemy.engine.base.Engine ({'date': '1993-08-18 09:46:21', 'timeStamp': '4:20:55.000', 'code': 1, 'year': 1993}, {'date': '2003-06-21 17:26:57', 'timeStamp': '22:02:25.000', 'code': 2, 'year': 2003}, {'date': '1992-05-06 14:33:56', 'timeStamp': '23:52:58.000', 'code': 3, 'year': 1992}, {'date': '1995-12-23 18:54:17', 'timeStamp': '3:41:48.000', 'code': 4, 'year': 1995}, {'date': '2011-07-19 04:41:15', 'timeStamp': '11:03:03.000', 'code': 5, 'year': 2011}, {'date': '2013-09-07 03:32:31', 'timeStamp': '5:07:05.000', 'code': 6, 'year': 2013}, {'date': '2004-11-18 12:13:07', 'timeStamp': '2:18:56.000', 'code': 7, 'year': 2004}, {'date': '1999-07-12 17:42:12', 'timeStamp': '21:39:52.000', 'code': 8, 'year': 1999}  ... displaying 10 of 1000 total bound parameter sets ...  {'date': '2014-12-16 22:49:30', 'timeStamp': '14:39:14.000', 'code': 999, 'year': 2014}, {'date': '2005-12-23 11:17:59', 'timeStamp': '23:46:03.000', 'code': 1000, 'year': 2005})
2017-09-05 12:49:59,342 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:59,364 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-05 12:49:59,365 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-05 12:49:59,438 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:59,441 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}
2017-09-05 12:49:59,455 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:49:59,459 INFO sqlalchemy.engine.base.Engine {'name': u'Wine'}
2017-09-05 12:49:59,467 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-05 12:49:59,469 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}
2017-09-05 12:49:59,477 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-09-05 12:49:59,483 INFO sqlalchemy.engine.base.Engine {'table_name': u'Wine'}
2017-09-05 12:49:59,487 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-09-05 12:49:59,488 INFO sqlalchemy.engine.base.Engine {'table_oid': 41069}
2017-09-05 12:49:59,491 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-09-05 12:49:59,497 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:59,500 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-09-05 12:49:59,501 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:59,511 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-09-05 12:49:59,519 INFO sqlalchemy.engine.base.Engine {'table_oid': 41069}
2017-09-05 12:49:59,522 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-09-05 12:49:59,523 INFO sqlalchemy.engine.base.Engine {'table_oid': 41069}
2017-09-05 12:49:59,525 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-09-05 12:49:59,528 INFO sqlalchemy.engine.base.Engine {'table': 41069}
2017-09-05 12:49:59,533 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-09-05 12:49:59,536 INFO sqlalchemy.engine.base.Engine {'table_oid': 41069}
2017-09-05 12:49:59,549 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-09-05 12:49:59,552 INFO sqlalchemy.engine.base.Engine {'table_oid': 41069}
2017-09-05 12:49:59,555 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-09-05 12:49:59,559 INFO sqlalchemy.engine.base.Engine {'table_oid': 41069}
2017-09-05 12:49:59,562 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Wine"
2017-09-05 12:49:59,563 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:59,567 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:59,577 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Wine" (
	code BIGINT,
	name TEXT,
	type TEXT,
	vintage TEXT,
	bottleprice TEXT,
	caseprice TEXT,
	class BIGINT
)


2017-09-05 12:49:59,578 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:59,619 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:59,630 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Wine_code" ON "Wine" (code)
2017-09-05 12:49:59,631 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:49:59,675 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:49:59,688 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-05 12:49:59,742 INFO sqlalchemy.engine.base.Engine INSERT INTO "Wine" (code, name, type, vintage, bottleprice, caseprice, class) VALUES (%(code)s, %(name)s, %(type)s, %(vintage)s, %(bottleprice)s, %(caseprice)s, %(class)s)
2017-09-05 12:49:59,747 INFO sqlalchemy.engine.base.Engine ({'code': 1, 'name': 'Gan', 'vintage': '1955-01-06 05:45:01', 'bottleprice': '$56.57', 'caseprice': '$40.06', 'type': 'Maroon', 'class': 677}, {'code': 2, 'name': 'Melany', 'vintage': '1906-06-07 01:01:13', 'bottleprice': '$496.73', 'caseprice': '$577.38', 'type': 'Red', 'class': 125}, {'code': 3, 'name': 'Flory', 'vintage': '1959-08-19 01:15:48', 'bottleprice': '$81.45', 'caseprice': '$90.27', 'type': 'Crimson', 'class': 92}, {'code': 4, 'name': 'Laney', 'vintage': '1936-03-12 23:18:42', 'bottleprice': '$483.41', 'caseprice': '$792.87', 'type': 'Fuscia', 'class': 653}, {'code': 5, 'name': 'Kaile', 'vintage': '1986-12-04 01:32:40', 'bottleprice': '$84.52', 'caseprice': '$417.92', 'type': 'Khaki', 'class': 303}, {'code': 6, 'name': 'Byram', 'vintage': '2000-09-13 20:28:20', 'bottleprice': '$26.12', 'caseprice': '$473.33', 'type': 'Mauv', 'class': 785}, {'code': 7, 'name': 'Way', 'vintage': '1935-08-30 21:03:12', 'bottleprice': '$199.17', 'caseprice': '$121.80', 'type': 'Indigo', 'class': 801}, {'code': 8, 'name': 'Pippy', 'vintage': '1993-02-02 06:02:59', 'bottleprice': '$774.33', 'caseprice': '$104.79', 'type': 'Indigo', 'class': 696}  ... displaying 10 of 1000 total bound parameter sets ...  {'code': 999, 'name': 'Niccolo', 'vintage': '1913-07-01 06:15:34', 'bottleprice': '$539.64', 'caseprice': '$757.41', 'type': 'Mauv', 'class': 627}, {'code': 1000, 'name': 'Karoly', 'vintage': '1972-10-06 16:56:54', 'bottleprice': '$941.25', 'caseprice': '$412.93', 'type': 'Orange', 'class': 611})
2017-09-05 12:50:00,066 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-05 12:50:00,111 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-09-05 12:50:00,113 INFO sqlalchemy.engine.base.Engine {'schema': u'public'}

# Consultas

## 1- Muestre porcentajes de tipos de vinos mas vendidos en X año.

In [11]:
def get_tipo_vinos_mas_vendidos_por_anio(anio):
    assert type(anio) == int, "Error"
    string_sql = "select w.type as tipo_vino, sum(o.\"nrBottles\") as cant_x_tipo_vino, (select sum(oo.\"nrBottles\") from \"Order\" as oo join \"Timestamp\" as tt on oo.time = tt.code and tt.year = "+str(anio)+") as total_anual, (((sum(o.\"nrBottles\"))*100)/(select sum(oo.\"nrBottles\") from \"Order\" as oo join \"Timestamp\" as tt on oo.time = tt.code and tt.year = "+str(anio)+")) as porcentaje, '"+str(anio)+"' as anio from \"Wine\" as w join \"Order\" as o on (o.wine = w.code) join \"Timestamp\" as t on (o.time = t.code and t.year = "+str(anio)+") group by w.type order by cant_x_tipo_vino desc;"
    resultado  = pd.read_sql(string_sql, engine)
    return resultado

get_tipo_vinos_mas_vendidos_por_anio(2004)

2017-09-05 12:56:49,148 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:56:49,150 INFO sqlalchemy.engine.base.Engine {'name': u'select w.type as tipo_vino, sum(o."nrBottles") as cant_x_tipo_vino, (select sum(oo."nrBottles") from "Order" as oo join "Timestamp" as tt on oo.time ... (234 characters truncated) ... w join "Order" as o on (o.wine = w.code) join "Timestamp" as t on (o.time = t.code and t.year = 2004) group by w.type order by cant_x_tipo_vino desc;'}
2017-09-05 12:56:49,170 INFO sqlalchemy.engine.base.Engine select w.type as tipo_vino, sum(o."nrBottles") as cant_x_tipo_vino, (select sum(oo."nrBottles") from "Order" as oo join "Timestamp" as tt on oo.time = tt.code and tt.year = 2004) as total_anual, (((sum(o."nrBottles"))*100)/(select sum(oo."nrBottles") from "Order" as oo join "Timestamp" as tt on oo.time = tt.code and tt.year = 2004)) as porcentaje, '2004' as anio from "Wine" as w join "Order" as o on (o.wine = w.code) join "Timestamp" as t on (o.time = t.code and t.year = 2004) group by w.type order by cant_x_tipo_vino desc;
2017-09-05 12:56:49,171 INFO sqlalchemy.engine.base.Engine {}

     tipo_vino  cant_x_tipo_vino  total_anual  porcentaje  anio
0        Khaki             287.0       2025.0   14.172840  2004
1       Orange             252.0       2025.0   12.444444  2004
2         Puce             181.0       2025.0    8.938272  2004
3   Aquamarine             168.0       2025.0    8.296296  2004
4       Purple             147.0       2025.0    7.259259  2004
5       Violet             141.0       2025.0    6.962963  2004
6      Crimson             135.0       2025.0    6.666667  2004
7       Fuscia             131.0       2025.0    6.469136  2004
8    Turquoise             116.0       2025.0    5.728395  2004
9    Goldenrod             114.0       2025.0    5.629630  2004
10        Mauv              93.0       2025.0    4.592593  2004
11        Pink              80.0       2025.0    3.950617  2004
12         Red              70.0       2025.0    3.456790  2004
13        Blue              63.0       2025.0    3.111111  2004
14       Green              40.0       2025.0    1.975309  2004
15        Teal               7.0       2025.0    0.345679  2004

## 2- Cual es la temporada con mayor cantidad de ventas de X vino?

In [8]:

def get_temporada_mayor_ventas_por_vino(code_vino):
    string_sql = 'select * from \"Order\" where wine = %d;'%code_vino    
    df_ventas = pd.read_sql(string_sql, engine)
    df_time = pd.read_sql("select * from \"Timestamp\"", engine)    
    
    ventas_por_anio = {}
    for time, n_bottles in df_ventas[['time', 'nrBottles']].values:
        result = df_time.loc[df_time['code'] == time]
        year =  int(result['year'])
        try:
            ventas_por_anio[year] += n_bottles
        except:
            ventas_por_anio[year] = n_bottles
        
    maximo = max(ventas_por_anio.values())
    resultado = filter(lambda (k, v): True if v == maximo else False, ventas_por_anio.items())
    anios = map(lambda (k,v):  k, resultado)
    return maximo, anios

max_vendido, anios = get_temporada_mayor_ventas_por_vino(10)
print "Cantidad maxima %d En los anios %s "%(max_vendido, anios)

2017-09-05 12:50:00,411 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:50:00,415 INFO sqlalchemy.engine.base.Engine {'name': u'select * from "Order" where wine = 10;'}
2017-09-05 12:50:00,423 INFO sqlalchemy.engine.base.Engine select * from "Order" where wine = 10;
2017-09-05 12:50:00,424 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 12:50:00,437 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:50:00,444 INFO sqlalchemy.engine.base.Engine {'name': u'select * from "Timestamp"'}
2017-09-05 12:50:00,446 INFO sqlalchemy.engine.base.Engine select * from "Timestamp"
2017-09-05 12:50:00,448 INFO sqlalchemy.engine.base.Engine {}
Cantidad maxima 71 En los anios [1998]

## 3-  Que clientes han realizado mas compras a lo largo de 4 años?

In [12]:
def get_buenos_clientes():
    string_sql = "select customer as code_customer, total_ventas from (select customer, \
            SUM(\"nrBottles\") as total_ventas from \"Order\" where time in (select code from \"Timestamp\" \
            where year > 2013) group by(\"customer\") ) as p order by total_ventas desc;"

    result = df_time = pd.read_sql(string_sql, engine)    
    return result
    
get_buenos_clientes()

2017-09-05 12:59:25,216 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 12:59:25,218 INFO sqlalchemy.engine.base.Engine {'name': u'select customer as code_customer, total_ventas from (select customer,             SUM("nrBottles") as total_ventas from "Order" where time in (select code from "Timestamp"             where year > 2013) group by("customer") ) as p order by total_ventas desc;'}
2017-09-05 12:59:25,222 INFO sqlalchemy.engine.base.Engine select customer as code_customer, total_ventas from (select customer,             SUM("nrBottles") as total_ventas from "Order" where time in (select code from "Timestamp"             where year > 2013) group by("customer") ) as p order by total_ventas desc;
2017-09-05 12:59:25,224 INFO sqlalchemy.engine.base.Engine {}

     code_customer  total_ventas
0              114         160.0
1              561         130.0
2              747         121.0
3              421         100.0
4              920          99.0
5              586          98.0
6              624          97.0
7              655          97.0
8              398          97.0
9              975          96.0
10             301          96.0
11             378          95.0
12             409          95.0
13             202          95.0
14             222          95.0
15             614          94.0
16             721          94.0
17             783          94.0
18              81          93.0
19             111          93.0
20             620          92.0
21             221          92.0
22              59          91.0
23              92          91.0
24             704          91.0
25             504          91.0
26             708          91.0
27             451          90.0
28             433          89.0
29             189          87.0
..             ...           ...
101            850          17.0
102            119          16.0
103            982          15.0
104            954          15.0
105            390          14.0
106            804          13.0
107            882          13.0
108            752          13.0
109            195          12.0
110            630          12.0
111             29          12.0
112            923          11.0
113            146          11.0
114            285          11.0
115             64          11.0
116            525          10.0
117            391          10.0
118            764          10.0
119            936          10.0
120            547           9.0
121            486           9.0
122            858           8.0
123            211           8.0
124            574           7.0
125            314           6.0
126            766           2.0
127            278           2.0
128            693           2.0
129            183           1.0
130            351           1.0

[131 rows x 2 columns]