In [1]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger
import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

# Conexion con la base de datos tp32

In [2]:
NOMBRE_DB = "tp32"
USUARIO_DB = 'postgres' #gaston
PASSWORD_DB = 'postgres' #gastonm1
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB,'')

engine = alchemy.create_engine(url_db, echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_DB)
    conn.close()
except Exception as e:
    print str(e)
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)
engine = alchemy.create_engine(url_db, echo=True)

2017-09-05 14:34:08,314 INFO sqlalchemy.engine.base.Engine select version()
2017-09-05 14:34:08,316 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,325 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-05 14:34:08,327 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,334 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:34:08,337 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,339 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:34:08,344 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,347 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-05 14:34:08,349 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,357 INFO sqlalchemy.engine.base.Engine commit
2017-09-05 14:34:08,360 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,363 INFO sqlalchemy.engine.base.Engine create database tp32
2017-09-05 14:34:08,365 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,377 INFO sqlalchemy.engine.base.Engine ROLLBACK
(psycopg2.ProgrammingError) database "tp32" already exists
 [SQL: 'create database tp32']

# Definicion de tablas
![Inmobilitaria](diagramas/Inmobiliaria.png)

In [3]:
Base = declarative_base()
class Customer(Base):
    __tablename__ = 'Customer'
    
    IDCust = Column(Integer, primary_key=True)
    Name = Column(String)
    Surname = Column(String)
    Address = Column(String)
    City = Column(String)
    Phone = Column(String)
    Budget = Column(Float)
    Office = Column(String)

class Estate(Base):
    __tablename__ = 'Estate'
    
    IDEstate = Column(Integer, primary_key=True)
    Category = Column(String)
    Area = Column(String)
    City = Column(String)
    Province = Column(String)
    Rooms = Column(Integer)
    Bedrooms = Column(Integer)
    Garage = Column(String)
    Meters = Column(Integer)

class Visit(Base):
    __tablename__ = 'Visit'
    
    IDVisit = Column(Integer, primary_key=True)
    Date = Column(Date)
    Duration = Column(Integer)

class Sale(Base):
    __tablename__ = 'Sale'
    
    IDSale = Column(Integer, primary_key=True)
    Date = Column(Date)
    AgreedPrice = Column(Float)
    Price = Column(Float)
    Status = Column(String)
    Time = Column(Integer)

class Agenda(Base):
    __tablename__ = 'Agenda'
    
    IDAgenda = Column(Integer, primary_key=True)
    Data = Column(String)
    Hour = Column(String)
    ClienteName = Column(String)

class Inmobiliaria(Base):
    __tablename__ = 'Inmobiliaria'
    
    ID = Column(Integer, primary_key=True)
    IDEstate = Column(Integer)
    IDCust = Column(Integer)
    IDVisit = Column(Integer)
    IDSale = Column(Integer)
    IDAgenda = Column(Integer)
    Date = Column(Date)

In [4]:
Base.metadata.create_all(engine)

2017-09-05 14:34:08,655 INFO sqlalchemy.engine.base.Engine select version()
2017-09-05 14:34:08,657 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,666 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-05 14:34:08,668 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,674 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:34:08,676 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,680 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:34:08,682 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,685 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-05 14:34:08,687 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:34:08,691 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,697 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-09-05 14:34:08,704 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,717 INFO sqlalchemy.engine.base.Engine {'name': u'Inmobiliaria'}
2017-09-05 14:34:08,720 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,722 INFO sqlalchemy.engine.base.Engine {'name': u'Estate'}
2017-09-05 14:34:08,725 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,728 INFO sqlalchemy.engine.base.Engine {'name': u'Visit'}
2017-09-05 14:34:08,734 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,735 INFO sqlalchemy.engine.base.Engine {'name': u'Sale'}
2017-09-05 14:34:08,738 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:34:08,739 INFO sqlalchemy.engine.base.Engine {'name': u'Agenda'}

# Carga de datos
 ### Mocks -> [Mockaroo](https://www.mockaroo.com/)

In [5]:
""""datos_customer = 'data/MOCK_DATA-customer.csv'
datos_class = 'data/MOCK_DATA-class.csv'
datos_order = 'data/MOCK_DATA-order.csv'
datos_time = 'data/MOCK_DATA-time.csv'
datos_wine = 'data/MOCK_DATA-wine.csv'

df_customer = pd.DataFrame.from_csv(datos_customer,sep=',')
df_class = pd.DataFrame.from_csv(datos_class,sep=',')
df_order = pd.DataFrame.from_csv(datos_order,sep=',')
df_time = pd.DataFrame.from_csv(datos_time,sep=',')
df_wine = pd.DataFrame.from_csv(datos_wine,sep=',')""""

SyntaxError: EOL while scanning string literal (<ipython-input-5-79f65ece2c88>, line 11)

In [ ]:
# transforma los datos en sql, y los inserta.
""""df_customer.to_sql("Customer", con=engine, if_exists='replace')
df_class.to_sql("ClaseVino", con=engine, if_exists='replace')
df_order.to_sql("Order", con=engine, if_exists='replace')
df_time.to_sql("Timestamp", con=engine, if_exists='replace')
df_wine.to_sql("Wine", con=engine, if_exists='replace')""""

# Consultas

### 1- ¿Que tipo de propiedad se vendio por el precio mas alto con respecto a cada ciudad y meses?

### 2- ¿Quien ha comprado un piso con el precio mas alto con respecto a cada mes?

### 3- ¿Cual es la duracion media de visitas en las propiedades de cada categorıa?