In [1]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger

import matplotlib.pyplot as plt
import pandas as pd 
%matplotlib inline

In [2]:
# Conexion con postgres, creamos y nos conectamos a la bd pal tp3.
NOMBRE_BD = "tp3"
engine = alchemy.create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432', echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_BD)
    conn.close()
except Exception as e:
    print str(e)
engine = alchemy.create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/'+NOMBRE_BD, echo=True)
Base = declarative_base()

2017-08-28 00:42:30,329 INFO sqlalchemy.engine.base.Engine select version()
2017-08-28 00:42:30,331 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:30,336 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-08-28 00:42:30,342 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:30,350 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-08-28 00:42:30,356 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:30,360 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-08-28 00:42:30,362 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:30,376 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-08-28 00:42:30,379 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:30,384 INFO sqlalchemy.engine.base.Engine commit
2017-08-28 00:42:30,386 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:30,395 INFO sqlalchemy.engine.base.Engine create database tp3
2017-08-28 00:42:30,396 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:30,398 INFO sqlalchemy.engine.base.Engine ROLLBACK
(psycopg2.ProgrammingError) database "tp3" already exists
 [SQL: 'create database tp3']

In [3]:
class Customer(Base):
    __tablename__ = 'Customer'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    address = Column(String)
    phone = Column(String)
    bday = Column(Date)
    gender = Column(String)
    
    #Para formateo de objeto
    def __repr___(self):
        return "<Customer(name='%s', address='%s', phone='%s', gender=%s')>"%(self.name, self.address, self.phone, self.gender)

In [4]:
class Timestamp(Base):
    __tablename__ = 'Timestamp'
    
    code = Column(Integer, primary_key=True)
    timestamp = Column(BigInteger)
    date = Column(Date)
    year = Column(Integer)

In [5]:
class ClaseVino(Base):
    __tablename__ = 'ClaseVino'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    region = Column(String)

In [6]:
class Wine(Base):
    __tablename__ = 'Wine'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    tipo = Column(String)
    vintage = Column(Integer)
    bottlePrice = Column(Float)
    casePrice = Column(Float)
    claseVino = Column(Integer)

In [7]:
class Order(Base):
    __tablename__ = 'Order'
    
    code = Column(Integer, primary_key=True)
    customer = Column(Integer)
    wine = Column(Integer)
    timeStamp = Column(Integer)
    nrBottles = Column(Integer)
    nrCases = Column(Integer)

In [4]:
Base.metadata.create_all(engine)

2017-08-28 00:42:36,779 INFO sqlalchemy.engine.base.Engine select version()
2017-08-28 00:42:36,781 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:36,784 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-08-28 00:42:36,788 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:36,794 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-08-28 00:42:36,797 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:36,801 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-08-28 00:42:36,803 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:36,812 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-08-28 00:42:36,814 INFO sqlalchemy.engine.base.Engine {}
2017-08-28 00:42:36,818 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-28 00:42:36,821 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}

In [7]:
# Probamos un ejemplo Customer
cliente = Customer(name='Nicolas3', address='Julio A Roca', phone='41-(625)137-9314', bday='1968-05-20 16:31:20', gender='m')
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()
session.add(cliente)
session.commit()
for instance in session.query(Customer).order_by(Customer.code):
    print(instance.name, instance.address)

2017-08-28 00:43:43,951 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-28 00:43:43,954 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" (name, address, phone, bday, gender) VALUES (%(name)s, %(address)s, %(phone)s, %(bday)s, %(gender)s) RETURNING "Customer".code
2017-08-28 00:43:43,959 INFO sqlalchemy.engine.base.Engine {'bday': '1968-05-20 16:31:20', 'phone': '41-(625)137-9314', 'gender': 'm', 'name': 'Nicolas3', 'address': 'Julio A Roca'}
2017-08-28 00:43:43,964 INFO sqlalchemy.engine.base.Engine COMMIT
2017-08-28 00:43:44,008 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-28 00:43:44,010 INFO sqlalchemy.engine.base.Engine SELECT "Customer".code AS "Customer_code", "Customer".name AS "Customer_name", "Customer".address AS "Customer_address", "Customer".phone AS "Customer_phone", "Customer".bday AS "Customer_bday", "Customer".gender AS "Customer_gender"
FROM "Customer" ORDER BY "Customer".code
2017-08-28 00:43:44,012 INFO sqlalchemy.engine.base.Engine {}
(u'Nicolas', u'Julio A Roca')
(u'Nicolas', u'Julio A Roca')
(u'Nicolas', u'Julio A Roca')
(u'Nicolas', u'Julio A Roca')
(u'Nicolas', u'Julio A Roca')
(u'Nicolas2', u'Julio A Roca')
(u'Nicolas3', u'Julio A Roca')
(u'Nicolas3', u'Julio A Roca')

In [ ]:
datos_customer = 'data/MOCK_DATA-customer.csv'
datos_class = 'data/MOCK_DATA-class.csv'
datos_order = 'data/MOCK_DATA-order.csv'
datos_time = 'data/MOCK_DATA-time.csv'
datos_wine = 'data/MOCK_DATA-wine.csv'

df_customer = pd.read_csv(datos_customer)
df_customer

In [ ]:
# transforma los datos en sql, y los inserta.
df_customer.to_sql("Customer", con=engine, if_exists='replace')

In [ ]:
location2 = 'data/MOCK_DATA-wine.csv'
df2 = pd.read_csv(location2)
df.to_sql("Customer", con=engine, if_exists='replace')

In [ ]:
df2